[2019-01-29 12:25] dselman opened #29 "Better editor for linked data"
Provide a better editor experience to edit links. E.g. see what Google Docs does, or other comparable editors.

This should be pluggable so that the user can define a custom editor for dates/times etc.

[2019-02-23 11:17] dselman opened #24 "User interface to insert a thematic break"
Markdown supports the concept of a _thematic break_ which markdown-pdf interprets as a page break (`---` in markdown). Having a toolbar item to insert a thematic break in the markdown editor would allow users to control where page breaks occur in PDFs that are generated from the contents of the editor.

The thematic break should be rendered in Slate to indicate that a page break will occur. E.g.

[2019-04-05 12:53] jeromesimeon opened #8 "Component: Concerto (Model) Form-based Editor"
- Viewer/editor for Concerto models as a set of class declarations, with properties specified using actions and forms (Add Concept, Add Transaction etc).

[2019-05-08 15:22] irmerk opened #61 "ContractEditor supports drag-and-drop functionality"
# Related Issues
- Issue accordproject/cicero-ui#1
- Issue accordproject/cicero-ui#31
- Issue [#21](https://github.com/accordproject/template-studio-v2/issues/21) in TSv2

## Tasks
- Research this functionality

[2019-05-08 15:51] irmerk opened #65 "Library Details button serves modal"
# Related Issues
- Issue accordproject/cicero-ui#6
- Issue [#24](https://github.com/accordproject/template-studio-v2/issues/24) in TSv2

## Tasks
- Create functionality to serve up specific template in a details modal.

[2019-10-21 21:31] irmerk opened #67 "Filter Templates by Cicero Version"
**Is your feature request related to a problem? Please describe.**
The [`Library`][library] component should have the capability to filter by [cicero][cicero] version

**Describe the solution you'd like**
If the templates passed to the component do not all have the same Cicero version, we should display a dropdown with the versions represented. Selecting a version from the dropdown should filter t

[2020-02-11 15:56] irmerk opened #68 "Clause Component Error UI"
The clause component should also have an indication of an error, not just the `ErrorLogger`

[2020-02-17 16:15] jeromesimeon opened #35 "Editing for nested quotes and lists"
**Is your feature request related to a problem? Please describe.**
Markdown can support nested quotes and lists. Those seem to be properly imported in the editor, but one cannot edit those or create them directly using the toolbar.

**Describe the solution you'd like**
It would be nice to be able to create a quote containing a list or a list containing a quote, or a quote containing a list contain

[2020-03-02 16:04] irmerk opened #70 "Reduce Prop Reliance"
We should not be in the habit of relying on a lot of styling props for individual fields. This practice has gotten out of hand:

[code]

All of these should be removed and we should instead rely on a strong system of structured class names. This will allow users to handle what these props currently do via overriding the CSS.

### Related Issue:
- https://github.com/accordproject/markdown-editor/is

[2020-03-12 19:56] jeromesimeon opened #36 "Some Possible Improvements to Redo/Undo"
A few things do not feel entirely natural with the current Undo/Redo behaviour:
1. Sometimes it takes several clicks for a change to be undone/redone. I think because it tracks selection or cursor position changes. I'm not sure what the usual/expected behaviour for editor is, but it felt a little cumbersome
2. the above issue is compounded by the fact that you don't always have a visual hint (undo

[2020-03-18 17:33] shakti97 opened #37 "Add Husky and Lint Staged"
**Is your feature request related to a problem? Please describe.**
Sometimes the developer commit consist of linting error

**Describe the solution you'd like**
It will automatically fix the linting error and don't let the developer commit without fixing the lint error

**Additional context**
I would like to work on it

[2020-04-01 20:31] Michael-Grover opened #69 "Formulae UI"
Add support for computed variables in the Cicero UI.
Contact @Michael-Grover with your email address to get access to the clickable prototype on invision
https://projects.invisionapp.com/d/main#/console/16741009/406893195/preview

---

https://projects.invisionapp.com/d/main#/console/16741009/406893195/preview
![image](https://user-images.githubusercontent.com/40569793/78183374-cd9e1700-7435-11ea-

[2020-04-02 22:47] algomaster99 opened #75 "Extend the support for logo in Template Library"
**Is your feature request related to a problem? Please describe.**
We can add the support for the logo in the `TemplateLibrary` Component since https://github.com/accordproject/cicero/pull/533 is merged.

**Describe the solution you'd like**
I am actually not sure how we can extend the support here :sweat: @irmerk @DianaLease I would need your suggestions. :sweat_smile:

[2020-04-12 19:53] irmerk opened #74 "SHIFT+Enter Inside Variable"
**Describe the bug**
A user can create a new paragraph within a variable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://cicero-ui.netlify.com/)
2. Click anywhere in `"Party A"` in the first line
3. Press `SHIFT + Enter`
4. See new paragraph created

**Expected behavior**
This should be restricted

[2020-04-13 11:59] dselman opened #39 "Add support for tables"
Many markdown files contain tables. It would be very useful for the editor to support these files.

**Describe the solution you'd like**
UI to render and edit tables.

**Additional context**

We will need to extends`accordproject/markdown-common` and the CommonMark DOM to represent tables, as well as the other transforms to support them.

Slate tables demo: https://www.slatejs.org/examples/tables

[2020-04-13 14:05] irmerk opened #41 "SHIFT+Enter in Blockquote"
**Describe the bug**
A user cannot create a line break _within_ a blockquote.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Click at the end of the first paragraph
3. Press `Enter` and type something
4. Format as a blockquote with the toolbar
5. Press `SHIFT + Enter`
6. A new blockquote is made

**Expected behavio

[2020-04-13 14:37] irmerk opened #42 "Hyperlink Modal Disrupts History"
**Describe the bug**
A user cannot undo a link if forwarding through a hyperlink modal in history

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Create new empty paragraph
3. Select hyperlink, type in a word and a hyperlink
4. Navigate back in history
5. Navigate forward, see hyperlink modal appear, navigate forwar

[2020-04-13 22:01] sachdeva-shrey opened #45 "Dragging Image Duplicates"
**Describe the bug**
Selecting and dragging an image within the Editor duplicates it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Click on the Concerto Model Image _or_ insert a new one
3. Drag it to a new position
4. The image is duplicated

**Expected behavior**
Only the position of the image should be changed.

**

[2020-04-13 23:29] Michael-Grover opened #46 "Line Break not preserved on paste"
**Describe the bug**
When copying multiple lines and then pasting them, the line breaks are not preserved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Select "This is a\
hard break."
3. Press Mod+C to copy
4. Select somewhere in the middle of "This is a\
hard break."
5. Press  Mod+P to paste
6. See that the line brea

[2020-04-14 00:42] Michael-Grover opened #32 "Preserve formatting when pasting from Google Chrome, Word, etc."
**Is your feature request related to a problem? Please describe.**
Currently when a user copies text with simple formatting like italicization and bolding from a source like Microsoft Word or Google Docs, and then pastes that text into the markdown editor, none of the formatting is preserved.

As a user I would like as much of my formatting to be preserved as possible. I would expect basic formatt

[2020-04-14 15:18] irmerk opened #47 "Hyperlink Modal Persists with Shift Tabbing Out"
**Describe the bug**
A user goes through extra steps to close the hyperlink modal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Select the existing hyperlink
3. <kbd>SHIFT</kbd> + <kbd>TAB</kbd> twice
4. Type or press <kbd>ENTER</kbd>
5. Hyperlink modal does not close

**Expected behavior**
Modal should close if u

[2020-04-16 10:07] sachdeva-shrey opened #48 "Preserve List Formatting in Blockquotes"
**Describe the bug**
The formatting of the list items is not preserved when the list items are put in blockquote.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://accordproject-markdown-editor.netlify.app/)
2. Select a list
3. Click on the `Quote` button from the `Toolbar Menu`
4. See the bug

**Expected behavior**
The list formatting should be preserved when the item

[2020-04-17 19:30] arteevraina opened #72 "Text color white in Template Library SearchBar."
**Describe the bug**
The text color is white inside the Template Library Search bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [demo](https://cicero-ui.netlify.app/?path=/story/components-template-library--template-library)
2. Click on Template Library Component.
3. Type in search bar.

**Expected behavior**
The text color should be black so that it clearly differentiates it from

[2020-04-22 13:00] sachdeva-shrey opened #49 "SHIFT+Enter in List Item"
**Describe the bug**
Currently, a new list item is created on pressing `Enter` or`Shift+Enter`. The user should be able to add a new line wrapped within the same list item on pressing `Shift+Enter`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://accordproject-markdown-editor.netlify.app/)
2. Go the end of any list item
3. Press `Enter`/`Shift+Enter`
4. See the behav

[2020-04-22 20:10] mttrbrts opened #13 "ReadOnly mode should provide a simplified & compact rendering of the form."
**Is your feature request related to a problem? Please describe.**
As discussed in https://github.com/accordproject/concerto-ui/pull/54, when the `readOnly` prop is true, it would be convenient for the form fields to be more compact.

**Describe the solution you'd like**
For example, currently,
- the buttons and dropdown fields appear as disabled input fields, however it would be more natural for

[2020-04-24 22:25] nik72619c opened #50 "Display a message in hyperlink modal to indicate that the link is copied"
**Is your feature request related to a problem? Please describe.**
Currently, when a user clicks on the copy button to copy the link to the clipboard, there is no message which tells the user that the link is copied.

**Describe the solution you'd like**
A simple message could be displayed in the modal indicating that the link is copied

[2020-04-28 14:44] irmerk opened #51 "UI Realignment"
In the Slate migration, we have strayed a bit from the original editor styling. We need to ensure this is back on to specification, both in `cicero-ui` and in a parent component.

What should the “_out of the box_” style look like if someone wants to just import this component and be done with it?

We need to decide what style / design we want in `markdown-editor` (`RichTextEditor`) _and_ `cicero-

[2020-04-30 14:40] jolanglinais opened #52 "Dependencies Cleanup"
Need to take a hard look at all our dependencies.

This impacts security, development workflow (slow builds), and page load times.

[2020-04-30 14:40] jolanglinais opened #53 "Dependencies Cleanup"
Need to take a hard look at all our dependencies. This library is pretty big.

This impacts security, development workflow (slow builds), and page load times.

[2020-05-01 16:11] sachdeva-shrey opened #54 "List Formatting Not Preserved in Headings"
**Describe the bug**
Headings when converted to lists, do not preserve the list formatting i.e. the list item number/bullets are not shown. Please see the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the demo](https://accordproject-markdown-editor.netlify.app/).
2. Select any heading
3. Select Numbered/Bulleted list from the Toolbar Menu
4. See the bug

**Expected

[2020-05-06 18:40] irmerk opened #1 "Initiation of Monorepo"
Open discussion for the transition to a monorepo for our web/ui components.

## Current Plan
- [x] Move all UI components under new `web-components` repo (@dselman) — essentially done
- [x] Align version numbers / setup for Travis and npm deploy/publish (@jeromesimeon)
- [x] Do an unstable release to check that the packages can be consumed by users
  - [x] Including the new rollup packaging, etc
-

[2020-05-06 21:06] irmerk commented on #1
I like using the suggestion (`@accordproject/wc-cicero` `@accordproject/wc-concerto `@accordproject/wc-markdown-editor`) much more than keeping the names the same. I also prefer resetting the versioning, with pointers to archived repositories.

However, not sure I'm sold on `web-components` / `wc-...` Some other ideas:
- `shards` - `@accordproject/shard-cicero`
- `tools` - `@accordproject/tool-cic

[2020-05-07 20:46] irmerk commented on #1
My strongest preference is for `videre`, `solis`, `monstro`, `attuor`, or `capio`

[2020-05-10 12:21] mttrbrts commented on #1
I'm not keen on doubling the latinate names, it makes it more difficult to understand what the modules do. We are using latinate names for top-level projects, most of these refer to tools that are conceptually related to those projects.

My vote would be for something more descriptive, e.g. `cicero-web`, `cicero-ui`,

[2020-05-11 22:30] jeromesimeon commented on #1
An example of naming packages: https://github.com/marmelab/react-admin/tree/master/packages

[code]

[2020-05-11 22:32] irmerk commented on #1
I like that @jeromesimeon

[2020-05-12 20:51] jeromesimeon opened #6 "Component: Concerto (Model) Text Editor"
- Build a new LSP implementation for Concerto, based on https://github.com/hyperledger/composer-vscode-plugin/blob/master/server/src/server.ts
- Use Monaco to edit CTO files

[2020-05-12 20:51] jeromesimeon opened #7 "Component: Concerto (Model) Graphical Editor"
- Viewer/editor for Concerto models as interactive UML style diagram, using https://github.com/projectstorm/react-diagrams

[2020-05-12 20:52] dselman opened #9 "Can type letters into a number field"
**Describe the bug**
The form field created for numeric fields allows the user to type letters.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a form on a CTO model that contains a numeric field
2. Note that the field has the up and down spinner to change the number
3. Type a letter into the field
4. See error

**Expected behavior**
Letters should be prevented?

**Desktop (please compl

[2020-05-12 20:52] jeromesimeon opened #10 "Use of JavaScript Date should probably be switched to Moment"
Both for stability and consistency with the rest of the Accord Project stack, it might be preferable to use `moment` for date creation rather than the custom use of the JavaScript `Date()` call.

This is notably affects code here: https://github.com/accordproject/concerto-ui/blob/f8b533d2e93d8526aa0bab708dcd0721f367c8ba/packages/concerto-ui-react/src/reactformvisitor.js#L243
or
here: https://githu

[2020-05-12 20:52] raghav4 opened #11 "Input field needs validation"
**Describe the bug**
Input fields need validation on the client-side, many fields are showing ambiguous behaviour,

**To Reproduce**
Steps to reproduce the behaviour:
1. Open **Safari** or **Firefox** browser.
2. Go to form and choose any **Declaration Selection**
3. Click on any field they can accept any value irrespective of what defined
4. See Error

**Expected behaviour**
It should prompt the

[2020-05-12 20:53] discochance opened #12 "sample Data invalid when using range validator"
**Describe the bug**
When using concerto-ui with models which are using range validators in their Models, Sample Data isn't provided correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://concerto-ui.netlify.com/
2. Change the 'FragileGoodsClause' to i.e.
[code]
3. Select FragileGoodsClause in the Declaration Selection
4. Inspect the form and its default Values

**Expected b

[2020-05-12 20:59] irmerk opened #14 "User Interaction Testing"
This issue will track the tests which need to be implemented in order to increase stability of this codebase. Please feel free to add suggestions.

**MASTER_MARK_LIST**:
  - [ ] `bold`, `italic`, `hyperlink`, `code`
  - [ ] `bold+italic`, `bold+hyperlink`, `bold+code`
  - [ ] `italic+hyperlink`, `italic+code`
  - [ ] `code+hyperlink`
  - [ ] `bold+italic+hyperlink`, `bold+italic+code`
  - [ ] `ita

[2020-05-12 21:00] irmerk opened #15 "User Interaction Testing"
This issue will track the tests which need to be implemented in order to increase stability of this codebase. Please feel free to add suggestions.

**MASTER_TOOLBAR**:
- [ ] Heading 1, 2, 3
- [ ] Keyboard Shortcuts
- [ ] **bold**
- [ ] _italic_
- [ ] [hyperlink](http://accordproject.org)
- [ ] `code`
- [ ] > block_quote
- [ ] `ol_list`
- [ ] `ul_list`

**MASTER_HISTORY_CHECK**:
  - [ ] Undo
  - [

[2020-05-13 12:05] mttrbrts opened #21 "Merge concerto-ui-core and concerto-ui-react"
Currently, the concerto-ui components are spread across two packages `concerto-ui-core` and `concerto-ui-react`. Originally the concerto-ui-core package was built to include a framework independent foundation, and currently contains some common utility functions and a vanilla HTML renderer.

The HTML renderer is not maintained and has diverged from the functionality of the React renderer.

I propo

[2020-05-13 14:01] dselman opened #23 "Optionally render a gutter with line numbers"
For some users a gutter area that renders line numbers would be useful.

[2020-05-13 14:05] irmerk opened #25 "Connect Parameter Button with Variables"
# Related Issues
- Issue accordproject/markdown-editor#42

## Tasks
- Render button responsively with a variable being selected
- Pressing the button should turn the selection into a variable

[2020-05-13 14:06] irmerk opened #26 "Dynamic Toolbar Styling"
**Is your feature request related to a problem? Please describe.**
The `Toolbar` should accept props to render certain buttons. It should therefore also render well no matter which buttons are toggled on.

**Describe the solution you'd like**
This could possibly have a minimum cap, such as `Styles`, `bold`, `italic`, and `underline`. Input would be helpful (@Michael-Grover)

**Describe alternative

[2020-05-13 14:07] Michael-Grover opened #27 "Underline Text in List"
The underline style can not be applied to text in an ordered or unordered list. The bold, italic, and code styles work for text in a list.

Example of a real contract where parts of an ordered list are underlined, which currently isn't possible in our editor:
![image](https://user-images.githubusercontent.com/40569793/63716087-2a3bb280-c813-11e9-904d-751eaf682765.png)

[2020-05-13 14:08] irmerk opened #28 "Handle Underline in Markdown"
# To Be Done Instead of OR After Issue accordproject/markdown-editor#97

Since transitioning to [utilize the `markdown-transform`](https://github.com/accordproject/markdown-editor/releases/tag/v0.6.0), we will need to take a step back from supporting underline for the time being. Markdown doesn't natively support underline, so we need to rethink how we serialise this.

We can then experiment with

[2020-05-13 14:11] jeromesimeon opened #30 "Markdown support: Code blocks"
**Is your feature request related to a problem? Please describe.**
Code blocks are a useful markdown feature. It would be nice if the editor supports them.

**Describe the solution you'd like**
The ability to create/edit/delete code blocks.

Maybe the ability to turn into a selection into a code block would be nice as well/

[2020-05-13 14:12] irmerk opened #31 "Support Nested Lists"
**Is your feature request related to a problem? Please describe.**
The editor should support nested lists with a keyboard handle for `SHIFT + ENTER` and toolbar buttons for indent and outdent

**Describe the solution you'd like**
Design from @Michael-Grover, this should wrap a list in a further list if it is a descendent of a list

**Describe alternatives you've considered**
Further work can be do

[2020-05-13 14:14] irmerk commented on #32
Relates to https://github.com/accordproject/markdown-editor/issues/198

[2020-05-13 14:18] DianaLease opened #33 "Markdown support: HTML blocks"
**Is your feature request related to a problem? Please describe.**
Html blocks are a markdown feature that the editor currently does not support

**Describe the solution you'd like**
The ability to create/edit/delete html blocks.

May need to think about security risk!

[2020-05-13 14:28] jeromesimeon opened #34 "Creating code blocks unexpectedly creates (nested) code inlines"
**Describe the bug**
Creating a code block does not create a code block but different levels of code inlines.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the markdown editor
2. Select a paragraph
3. Click on 'code' button
4. It does not create a code block, but some code inlines

**Expected behavior**
Selecting a paragraph (or multiple paragraphs) and clicking code should create a

[2020-05-13 14:32] jeromesimeon opened #38 "Quoting in Cicero UI doesn't seem to handle nested structures as the Md editor"
Quoting in the markdown editor properly preserves the structure of the selected part of the document:

![QuoteMarkdownEditor](https://user-images.githubusercontent.com/670099/76561230-3dddfc00-6479-11ea-9a4b-7568e2c9eb8c.gif)

It seems to lose the structure when quoting in Cicero UI:

![QuotingCiceroUI](https://user-images.githubusercontent.com/670099/76561260-4f270880-6479-11ea-8753-ca58f8be1d3c.

[2020-05-13 14:33] dselman opened #40 "Custom dialogs to edit links and images"
The toolbar allows inserting both links and images. Both would benefit from a custom dialog to insert new links or to edit existing links.

[2020-05-13 14:34] irmerk commented on #40
Relates to #29

[2020-05-13 14:35] irmerk opened #43 "Initial Linebreak not Preserved on Paste"
**Describe the bug**
Copy/paste within the editor doesn't preserve a linebreak if it is the beginning of the copy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live demo](https://accordproject-markdown-editor.netlify.com/)
2. Select `This is ***bold and italic*** text.`, and select up to the end of the previous paragraph
3. Press CTRL-C to copy
4. Press CTRL-V to paste
5. Note

[2020-05-13 14:36] shrey-sachdeva2000 opened #44 "Copy Paste Lists doesn't Wrap First List Item"
**Describe the bug**
Copy/Paste List Items doesn't wrap the first Item in the List.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [demo](https://accordproject-markdown-editor.netlify.com/)
2. Select the existing list in the editor
3. Press <kbd>Ctrl</kbd><kbd>C</kbd> to Copy
4. Press <kbd>Ctrl</kbd><kbd>V</kbd> to Paste
5. The first Item of the list is not wrapped within the list

[2020-05-13 14:46] dselman opened #55 "Support for derived types"
# Feature Request 🛍️

In the Concerto model below the field `Zoo.animals` can contain any type that extends the abstract type `Animal`. Concerto-UI does not allow the user to select the type that they want to add to the array - it appears to pick the first non-abstract type.

It would be great if (when there is more than 1 abstract type that extends a base type) the UI allows the user to explicitl

[2020-05-13 14:48] jeromesimeon opened #56 "Component: Template Execution & Testing"
## Execution & Test component
- Provide the ability to execute template logic on a given request, for a given state
- Allow to set the current time
- Allow to select tests based on template's Cucumber tests
- Allow to save a new test into the template

[2020-05-13 14:51] jeromesimeon opened #57 "Component: Package.json Editor"
- Based on Monaco JSON file support

[2020-05-13 14:51] jeromesimeon opened #58 "Component: Clause Plugin"
- A plugin for the contract editor that knows how to both Edit and Design AP Clauses https://github.com/accordproject/contract-editor/blob/master/src/plugins/clausePlugin.js
- In Edit mode only variable values can be supplied
- In Design mode the grammar text can be edited, variables inserted and their types specified

[2020-05-13 14:52] jeromesimeon opened #59 "Component: Ergo (Logic) Editor"
- Based on https://github.com/react-monaco-editor/react-monaco-editor
- We should refactor the VSCode plugin to share the same Language Server and use it with the Monaco editor. https://github.com/TypeFox/monaco-languageclient
- https://langserver.org
- Existing LSP: https://github.com/accordproject/ergo-vscode-plugin/blob/master/server/src/server.ts

[2020-05-13 14:52] jeromesimeon opened #60 "Models and Logic Components should handle adding/removing files"
Potential solution mockup from @Michael-Grover-C from https://github.com/accordproject/template-studio/issues/83

https://invis.io/GNQDQ9HZ5QE#/345313118_no_Template

[2020-05-13 14:53] irmerk opened #62 "TemplateLibrary supports drag-and-drop functionality"
# Related Issues
- Issue accordproject/cicero-ui#6
- Issue accordproject/web-components#61
- Issue [#21](https://github.com/accordproject/template-studio-v2/issues/21) in TSv2

## Tasks
- Research this functionality

[2020-05-13 14:57] irmerk opened #63 "Component: Model Editor"
**Is your feature request related to a problem? Please describe.**
Provide a specific editor to handle the model files

**Describe the solution you'd like**
Inspiration could be taken from the accordproject/web-components#59 Logic Editor

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-05-13 14:57] irmerk opened #64 "Component: Clause Template Editor"
**Is your feature request related to a problem? Please describe.**
Provide a specific editor to handle the clause templates

**Describe the solution you'd like**
This likely will happen within the `ContractEditor` and will edit a clause template with rich text formatting

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-05-13 14:57] irmerk opened #66 "Contract-level Variables"
**Is your feature request related to a problem? Please describe.**
Parameter support (contract editor)

**Describe the solution you'd like**
Example of these variables are parties

**Describe alternatives you've considered**
N/A

**Additional context**
Related issues:
- [Cicero 394](https://github.com/accordproject/cicero/issues/394)

[2020-05-13 15:02] jeromesimeon commented on #69
@Michael-Grover 👍 Let's call those "Formulas" from now on?

[2020-05-13 15:04] dselman opened #71 "Cannot delete a Clause with backspace"
We currently prevent removing Clauses using the backspace key. This means that you cannot easily remove all of the contract text if the contract contains a clause.

**To Reproduce**
1. Go to https://cicero-ui.netlify.com
2. Press CTRL-A to select all the text in the editor
3. Press backspace
4. Nothing happens (NOK)

**Expected behavior**
I think if that is the selection range completely encompass

[2020-05-13 15:05] dselman opened #73 "Pop-up Variable Editors"
Providing a modal pop-up to edit variables would be useful as it would constrain users from entering bad data. The variables could be rendered as links in the contract text, and clicking on a variable should open the appropriate pop-up. See designs from @Michael-Grover.

- [ ] String variable: unconstrained text input
- [ ] String variable with regex in model: constrain text input based on a regex

[2020-05-13 15:36] irmerk commented on #70
Code has been started: https://github.com/accordproject/cicero-ui/pull/387

[2020-05-13 15:37] irmerk commented on #50
Work has started: https://github.com/accordproject/markdown-editor/pull/391

[2020-05-14 14:26] dselman opened #78 "Can delete outside a variable"
# Bug Report 🐛
It is possible to delete non variable text in the contract editor.

## Expected Behavior
Non variable text should not be editable when `lockText` is true.

## Steps to Reproduce
1. Go to https://accordproject.github.io/web-components/?path=/story/contract-editor--contract-editor
2. Place cursor immediately before `2 days`
3. Press backspace
4. The text for the variable gets deleted

[2020-05-14 18:04] #78 closed

[2020-05-15 14:06] DianaLease opened #86 "Don't show clause icons in read-only"
# Bug Report 🐛

Currently, "test", "edit", and "delete" icons are shown on the clause in read-only mode.

## Expected Behavior

The icons should not be present when in a read-only state.

[2020-05-15 14:11] #21 closed

[2020-05-15 14:23] irmerk opened #87 "Tooltips Hidden by Formatting Toolbar"
# Bug Report 🐛
Tooltips for conditional variables and clause template action icons (test, edit, delete) are hidden behind the formatting toolbar

## Expected Behavior
Tooltips should be above everything else

## Current Behavior
<img width="652" alt="Screen Shot 2020-05-15 at 10 06 36 AM" src="https://user-images.githubusercontent.com/36460856/82060314-357e8900-9695-11ea-9c9d-2becfd909397.png">

#

[2020-05-15 14:24] irmerk commented on #87
Also seen in this reproduction is the formatting toolbar width issue?

[2020-05-15 17:24] #86 closed

[2020-05-15 18:40] arteevraina commented on #87
@irmerk Can I take a look at this?

[2020-05-17 17:20] elit-altum opened #91 "Pressing enter on the markdown editor scrolls to top"
# Bug Report 🐛

Upon pressing enter on the markdown editor storybook demo, the editor scrolls to the top.

## Expected Behavior

The editor should be at its place.

## Possible Solution

I think this could be an issue similar to https://github.com/accordproject/markdown-editor/pull/388

## Steps to Reproduce

1. Visit the Demo
2. Place cursor on the editor
3. Press Enter
4. The screen will scroll

[2020-05-17 17:21] elit-altum commented on #91
@irmerk is this expected behavior?
 And it also seems like the editor is crashing if I use any shortcuts like Ctrl + K etc. Are you able to reproduce this ?

[2020-05-18 13:02] irmerk commented on #91
Yeah I can reproduce it. However, I can't reproduce the shortcuts crashing the editor.

[2020-05-18 14:04] irmerk commented on #37
I believe this is resolved in https://github.com/accordproject/web-components/pull/82

[2020-05-18 14:04] #37 closed

[2020-05-19 19:29] irmerk opened #92 "Hyperlink Icon Consistency"
# Bug Report 🐛
Hyperlink formatting icon consistency

## Expected Behavior
The formatting icon should have the same color behavior as other formatting icons

## Current Behavior
Hyperlink formatting icon turns blue when a hyperlink is highlighted

## Possible Solution
Change blue to gray, same as other icons

## Screenshot
![image](https://user-images.githubusercontent.com/36460856/82369545-2e34e3

[2020-05-20 22:30] Michael-Grover opened #96 "Hyperlink tool can create two separate hyperlinks"
# Bug Report 🐛
It is possible to create two separate hyperlinks with the hyperlink tool

## Expected Behavior
Only the highlighted area should become a hyperlink

## Steps to Reproduce
https://www.loom.com/share/7014c3e0850c486780ae486e96345355
1. Triple click on a line of text
2. Press cmd+k to create a hyperlink
3. Enter a url
4. Save the hyperlink
5. Now there are two hyperlinks. One hyperlink

[2020-05-20 22:34] Michael-Grover opened #97 "Style section of formatting toolbar flashes when editing a hyperlink"
# Bug Report 🐛
Style section of formatting toolbar flashes when editing a hyperlink

## Expected Behavior
The style section of the formatting toolbar should show the style of the highlighted area

## Steps to Reproduce
1. Start creating a hyperlink. The style section of the formatting toolbar will switch between different styles with every keystroke
https://www.loom.com/share/7014c3e0850c486780ae4

[2020-05-21 13:00] irmerk commented on #96
This could likely be a check to see if the selection spans multiple nodes at the top level, either on submission or on opening of the modal (through the button or keyboard shortcut).

[2020-05-21 13:01] irmerk commented on #97
I believe it also will show as blank when over certain elements (variables in `cicero-ui` I think), so this could be improved.

[2020-05-22 20:38] Michael-Grover opened #102 "new paragraph after h1,h2,h3 should be normal text"
# Feature Request 🛍️

When a user is writing an h1, h2, or h3 and presses enter to make a new paragraph, the new paragraph should be normal text.

see how Google docs has this functionality in this video:
https://www.loom.com/share/c45fcd3bd1374217823b6e447fd0d1d5

## Use Case
User is writing a heading and wants to write some text under that heading. They press enter and the text under the heading

[2020-05-22 20:43] Michael-Grover opened #103 "Make the preview headings in the style dropdown reflect the style of those headings"
# Discussion 🗣
Currently the heading previews in the style dropdown do not reflect the actual appearance of headings when they are added in the contract text. These previews should give the user an accurate preview of what the heading should look like in the document.

This should remain so even when people who extend this component change the heading styles for their particular apps. They should

[2020-06-02 13:56] irmerk commented on #70
- [ ] `ContractEditor`
  - [ ] `clauseProps`
  - [ ] `editorProps`

- [ ] `ErrorLogger`
  - [ ] `errorsPropsObject`

- [ ] `Navigation`
  - [ ] `navigationProps`

- [ ] `TemplateLibrary`
  - [ ] `libraryPropsObject`

[2020-06-03 12:51] #70 closed

[2020-06-03 21:12] irmerk commented on #1
Will be adjusting the published packages to:

- `@accordproject/ui-concerto`
- `@accordproject/ui-markdown-editor`
- `@accordproject/ui-contract-editor`
- `@accordproject/ui-components` (`error`, `library`, `navigation`, `text-editor`)

[2020-06-05 20:09] mttrbrts opened #110 "Unable to start a production build of concerto-ui in a CRA"
Replicated in https://github.com/shift-a-bit/concerto-ui-react-demo

# Bug Report 🐛
Unable to start a production build of concerto-ui in a CRA. The development build works fine.
Reported by @shift-a-bit in AP Slack workspace.

Originally, I thought that this might be related to the new rollup pipeline, but replacing `concerto-ui` with `concerto-ui-react@0.84.0` or `concerto-ui-react@0.83.0` gives

[2020-06-08 12:36] irmerk commented on #110
Not sure I understand this. We don't have `build` in [our scripts](https://github.com/accordproject/web-components/blob/master/package.json#L33) and use `lerna` to handle this. @jeromesimeon you may have an idea?

[2020-06-08 16:48] #1 closed

[2020-06-08 20:01] mttrbrts commented on #110
The problem occurs when you build an app that includes one of our components as a dependency

[2020-06-09 14:58] irmerk opened #113 "Conditional Variable CSS Arrow"
# Bug Report 🐛
CSS Arrow from `conditional` variable tooltip is offset

## Expected Behavior
The CSS arrow should be attached to the `conditional` variable tooltip

## Current Behavior
In this screenshot, you can see a black arrow created by CSS (pointed at with the red arrow) which is very far down from the tooltip when hovering over the `+` icon where a `conditional` variable would go:
<img widt

[2020-06-09 20:46] irmerk commented on #69
@Michael-Grover is this what you'd have in mind with the new variable UI?

<img width="642" alt="Screen Shot 2020-06-09 at 4 45 43 PM" src="https://user-images.githubusercontent.com/36460856/84197949-ca945800-aa70-11ea-9a4c-e85fa83777c0.png">

[2020-06-09 20:49] Michael-Grover commented on #69
yeah that looks good

[2020-06-10 10:27] shift-a-bit commented on #110
Same issues is occurring if try to use **MarkdownEditor** as dependency. Both of the libraries are pointing to the modelmanager class in concerto-core library.
Error logs
[code]

[2020-06-11 16:34] irmerk commented on #110
Took a quick look at this with @dselman and I have a suspicion it could be due to the way we export `ConcertoFormWrapper` [here](https://github.com/accordproject/web-components/blob/master/packages/ui-concerto/src/lib/index.js#L18).

Though `MarkdownEditor` is exported in a seemingly [normal way](https://github.com/accordproject/web-components/blob/master/packages/ui-markdown-editor/src/lib/index.

[2020-06-11 18:29] dselman commented on #110
Now looking at the dependencies...

We seem to have multiple versions of `concerto-core` in play, which might be an issue.

`cicero-core` depends on markdown-cicero `0.10.4` which depends on `concerto-core` 0.82.6

https://github.com/accordproject/cicero/blob/master/packages/cicero-core/package.json#L80

https://github.com/accordproject/markdown-transform/blob/v0.10.4/packages/markdown-cicero/pack

[2020-06-15 12:41] dselman commented on #110
@jeromesimeon can we release Cicero to align with concerto-core 0.82.7?

[2020-06-16 10:50] dselman opened #114 "Cannot copy/paste links"
Cannot select links in the markdown editor (using mouse or keyboard) because the link editor pops-up during selection.

# Bug Report 🐛
1. Open a document containing a link
2. Attempt to copy/paste the link
3. The link cannot be selected using either the mouse or keyboard because as soon as the selection enters the link the pop up appears

## Expected Behavior
Should be able to select a link.

## C

[2020-06-16 13:18] irmerk commented on #114
I see this happening when trying to highlight the link by dragging the curser across it, but note that if you right click to copy it works:

![Jun-16-2020 09-16-49](https://user-images.githubusercontent.com/36460856/84779291-37987800-afb2-11ea-9135-5dd01475d2cb.gif)

[2020-06-16 17:06] #61 closed

[2020-06-16 18:12] DianaLease opened #115 "Drag-n-Drop causes clause to not be editable in Safari"
# Bug Report 🐛

Draggable parent causes children to not be editable in Safari.
Related to this comment: https://github.com/whatwg/html/issues/3114#issuecomment-425611048
Originally discovered by @dselman

## Expected Behavior
Variables should still be editable, like the current behavior in Chrome.

## Current Behavior
Variables are not editable.

## Context (Environment)

### Desktop
 - OS: [macOS

[2020-06-17 14:51] #115 closed

[2020-06-18 20:36] #113 closed

[2020-06-22 15:21] jeromesimeon commented on #110
I think I'm able to reproduce this following @mttrbrts 's instructions.

You need serve. I used `npm install -g serve`

- Serve log:

[code]

In the browser I get an empty page:

<img width="1226" alt="Screenshot 2020-06-22 at 11 20 38 AM" src="https://user-images.githubusercontent.com/670099/85304996-6c0ca800-b47a-11ea-864a-001d4d782142.png">

[2020-06-22 15:30] Michael-Grover opened #120 "Possible to split paragraphs in half with drag and drop"
# Bug Report 🐛
Dragging and dropping a Clause Template into the margins to the left or right of a paragraph allows the Clause Template to split the paragraph in half.

## Expected Behavior
The Clause Template should be placed before or after the paragraph

## Current Behavior
https://www.loom.com/share/329b20b14ecf4cd9854d31dba93b5e92

## Possible Solution

## Steps to Reproduce
1. drag Clause Tem

[2020-06-22 15:32] jeromesimeon commented on #110
I'm confused about how this relates to the issue. AFAICT there is no cicero involved in the demo there. Only Concerto and Concerto UI.

[2020-06-22 19:56] DianaLease commented on #110
I can reproduce, both in the repo mentioned in the original issue and in a brand new create-react-app environment. I have tried with ui-markdown-editor, ui-contract-editor, and ui-concerto, and each produce the same error.

I'm still researching the problem, but I wanted to bring up this older similar issue I found in case it rings any bells (cc @jeromesimeon ): https://github.com/accordproject/co

[2020-06-22 19:59] jeromesimeon commented on #110
I had completely forgotten about this. Looking back at that other issue, I think it was addressed by moving away from CRA and using webpack instead. I don't think I ever figured out what the root of the problem is, but I admit CRA feels like a complete magic box to me...

[2020-06-22 21:00] DianaLease commented on #110
The last version that does not have this error is
`@accordproject/concerto-ui-react@0.82.8`. The error seems to have been introduced in `@accordproject/concerto-ui-react@0.82.9` and has since been an issue in subsequent versions and packages.

This is particularly strange as it does not seem like anything changed between `0.82.8` and `0.82.9` besides the version numbers (https://github.com/accordp

[2020-06-22 21:05] dselman commented on #110
Could it be that when there are multiple version of `concerto-core` in the dependency tree, the version used in not deterministic?

[2020-06-22 21:30] DianaLease commented on #110
Alright, I was having trouble following how the `concerto-core-react` and `concerto-ui-core` used to be updated, but now I see in the commit mentioned in my comment above, the `concerto-ui-core` dependency was bumped from 0.71.8 to 0.82.9, so there _were_ other changes in that library. Particularly, that library's dependencies was updated from `"composer-concerto": "^0.71.3"` to  `"@accordproject/

[2020-06-22 22:44] DianaLease commented on #110
One last note before I leave this for the night. I think I see where @dselman was coming from with the differing versions - I read through another older issue (https://github.com/accordproject/concerto/issues/47) around conflicting versions causing trouble for `instanceof`, and indeed the compiled code that is throwing this error uses `instanceof` (see below).
[code]

However, as @jeromesimeon alr

[2020-06-22 23:12] jeromesimeon commented on #110
I think this is actually on to something. Between the old `composer-concerto` and the new `concerto-core` we changed the way `instance of` works so we could properly do `m instance of ModelManager` cross-copies of the same version of Concerto.

I think that might be why this fails. I think I can figure out a fix, but this will need republish of `concerto-core`.

[2020-06-23 02:21] jeromesimeon commented on #110
A brute-force confirmation that the issue is with the overriding of `instanceof` in the new concerto classes. Those lines in e.g., the model manager:
https://github.com/accordproject/concerto/blob/f91da652e15485cd92db8576a4e0e60572a8542e/packages/concerto-core/lib/modelmanager.js#L709

Without those you can properly start the app:

<img width="638" alt="Screenshot 2020-06-22 at 10 16 53 PM" src="h

[2020-06-23 02:29] jeromesimeon commented on #110
I think this open issue in babel is related: https://github.com/babel/babel/issues/4452

[2020-06-23 08:00] dselman commented on #110
Do we ever actually call `instanceof` on the ModelManager?

[2020-06-23 10:16] dselman opened #122 "Locked Text zones are not protected against backspace"
# Bug Report 🐛
Placing the cursor immediately after a clause and pressing backspace removes the newline after the clause and merges the paragraph after the cursor position with the clause.

## Expected Behavior
Backspace should be ignored.

## Current Behavior
Text gets merged.

## Steps to Reproduce
1. Got to Storybook
2. Open the Contract Editor story
3. Position the cursor immediately after the

[2020-06-23 13:09] DianaLease commented on #110
@dselman  When we call `new ModelManager()`, Babel runs this function:
[code]

[2020-06-25 12:51] irmerk commented on #120
This can be undone and also fixed manually, so not super serious.

@DianaLease playing with the CSS in the demo, I think this is because the drop point is in the `padding` of `ap-rich-text-editor`. Could we maybe just switch to `margin` instead?

[2020-06-25 12:53] irmerk commented on #114
I think we should customize the popup behavior to be if the `selection.anchor` is the beginning of the link and `selection.focus` is the end of the link, and no other time?

[2020-06-25 15:01] DianaLease commented on #114
I think that is already the case, as I am able to select text that includes more than just the link without it popping up. Only if I select within the link does it pop up. But maybe that's not the exact behavior we want. Maybe we should only popup if the selection is within the link AND collapsed?

[2020-06-25 15:04] irmerk commented on #114
Hmm that may have been what I was trying to describe. I'm still not certain what collapsed means in Slate.

[2020-06-25 15:04] #122 closed

[2020-06-25 17:34] DianaLease commented on #114
It basically means the selection is a single point, not a range. So if I click inside the link, my selection is collapsed. If I highlight the link or part of the link, my selection is _not_ collapsed.

[2020-06-26 16:49] DianaLease commented on #110
Hi @shift-a-bit ! We aim to have this working with CRA in the future, but for now you can use [this starter React app](https://github.com/accordproject/web-components-starter) with a basic Webpack and Babel config to get started with using AP web components in a React app. The app includes an example of both Concerto Form and Markdown Editor. Note that it's using a new micropublish of these compon

[2020-06-26 17:40] shift-a-bit commented on #110
Hi @DianaLease ,Thanks a lot. I have checked the starter app. I can eject the configs from CRA for the time.

[2020-07-01 15:02] discochance opened #131 "DateTime Objects cause ui-concerto to crash"
# Bug Report 🐛

When using a modelfile which contains a `DateTime` Attribute, the form crashes either when modifying the sample value or instantly.
## Expected Behavior

I expect the form generator to generate the form correctly and either generate a sample value or not, depending on the options. Furthermore it should not crash when wrong values are inserted, as this can happen while typing.
## Cu

[2020-07-01 15:14] jeromesimeon commented on #131
I can reproduce on Safari, following @discochance 's instructions. Below is a snapshot.

<img width="872" alt="Screenshot 2020-07-01 at 11 13 47 AM" src="https://user-images.githubusercontent.com/670099/86260968-f85e4f80-bb8b-11ea-8c8e-407a4905fedb.png">

[2020-07-02 10:36] dselman opened #133 "Autoscroll during drag-and-drop of a clause"
# Feature Request 🛍️
Drag-and-drop of clauses within a contract is of limited value, because the contract doesn't autoscroll when you get near the top or the bottom of the visible part of the contract.

## Use Case
Create a long contract. Decide you'd like to move a clause from the beginning to the end of the contract.

## Possible Solution
Some sort of autoscroll of the contract.

[2020-07-02 11:21] SirMoustache opened #134 "Error when transform block with mark to list"
# Bug Report 🐛

## Expected Behavior
There should be no errors.

## Current Behavior
A wild Error appears

## Steps to Reproduce
1. Go to https://ap-web-components.netlify.app/?path=/story/markdown-editor--demo
2. Select the first paragraph *AFTER* any marked block (bold, italics)
3. Try to change it to UL  or OL
4. See an error in the console
![image](https://user-images.githubusercontent.com/816

[2020-07-02 17:31] Michael-Grover opened #136 "Remove quotation marks from around string variables"
Remove quotation marks from string variables. From a user's perspective, the variables don't need quotation marks to distinguish them from the rest of the text, because there is already a border around the variable.

![image](https://user-images.githubusercontent.com/40569793/86391815-65471780-bc68-11ea-8e2f-2b17bc54b994.png)

[2020-07-02 19:12] Michael-Grover opened #137 "Reduce height of drag and drop handle so short clauses don't have large space"
### Feature Request 🛍️
Clauses with 1-3 lines of text have an awkward space at the bottom caused by the drag and drop handle. We can mitigate this by compressing the drag and drop handle.

the drag and drop buttons in the UI are spaced further apart than they are in the mockup. Making the buttons closer together like in the mockup should mitigate some of this issue.
![image](https://user-images.gi

[2020-07-03 07:45] shift-a-bit opened #141 "Error while deleting whole text from concerto form field"
# Bug Report 🐛

## Expected Behavior

One can remove text from form field by pressing backspace.

## Current Behavior

When we try to remove character with backspace it works until there is only on character on field. After reaching to one character there is error in console . This works fine if someone selects whole text and start typing.

## Steps to Reproduce

1. git clone https://github.com/ac

[2020-07-06 13:14] DianaLease commented on #141
Hi @shift-a-bit! I've updated web-components-starter with a version of ui-concerto which fixes this bug. The version is `0.93.2-20200702221818`.

[2020-07-06 13:14] #141 closed

[2020-07-06 19:56] Michael-Grover opened #142 "Pressing Cmd+C does not always copy selection"
# Bug Report 🐛
Pressing cmd+c while highlighting text does not always copy the selection.

## Expected Behavior
When I highlight text and press cmd+c, and then move my cursor somewhere else and press cmd+v, the text should be pasted

## Current Behavior
Sometimes when I copy text and paste it, the previously highlighted text is pasted instead of what I just copied. I have to select the text and co

[2020-07-06 21:56] jeromesimeon commented on #136
Fixed and tested in #123

[2020-07-07 04:12] conste11ations commented on #103
Hi! I created a pull request in hopes this helps you with the issue you have raised. Took a stab at assuming how people would ideally extend these components (assumed the constants would be updated because there are default styles already there), please let me know if incorrect!

[2020-07-07 12:43] #131 closed

[2020-07-07 13:06] #103 closed

[2020-07-07 14:15] discochance opened #144 "ui-concerto production build failing without storybook"
# Bug Report 🐛

When trying to deploy a production build of [ui-concerto](/packages/storybook/src/stories/3-ConcertoForm.stories.js) (adapted to work without storybook) only a blank page shows and some errors are thrown.

## Expected Behavior
I expected the ConcertoForm element to render correctly showing a similar interface to the one in the netlifiy demo.

## Current Behavior

The errors thrown

[2020-07-07 14:29] dselman commented on #144
Please refer to this project for the required scaffolding: https://github.com/accordproject/web-components-starter

[2020-07-07 14:46] irmerk commented on #144
@DianaLease could you provide more context on [this](https://github.com/accordproject/web-components/issues/144#issuecomment-654903489)? My understanding is a bit limited, but I think we have some issues we are working on within the main `web-components` repository, and in the meantime we have [the starter repo](https://github.com/accordproject/web-components-starter) to solve the immediate issue.

[2020-07-07 14:51] irmerk opened #145 "Optional Variables in Conditionals"
# Feature Request 🛍️
Support the use of variables inside of if conditional blocks

## Context
Related to https://github.com/accordproject/cicero/issues/549

[2020-07-07 15:01] DianaLease commented on #144
There is a known [issue](https://github.com/accordproject/web-components/issues/110) with using web-components with an app created with `create-react-app`. We suggest using the [web-components-starter](https://github.com/accordproject/web-components-starter) in the meantime. This starter app is also using a micropublish of ui-concerto that recently fixed several bugs (version `0.93.2-2020070222181

[2020-07-07 15:17] irmerk commented on #72
This has been fixed.

[2020-07-07 15:17] #72 closed

[2020-07-07 16:30] dselman commented on #24
markdown-pdf inserts a page break for thematic breaks in markdown, so this would allow people to have some control over pagination.

[2020-07-07 16:34] dselman opened #146 "WYSIWYG between Slate and PDF"
# Feature Request 🛍️
markdown-pdf centers H1s when rendering to PDF, so it would be useful to do the same in Slate.
It would also be good to review the default font sizes to ensure that they are aligned between Slate and PDF so that they are roughly equivalent at common screen resolutions.

Question: do we want to sync the choice of serif/sans between Slate and PDF?

Styles for PDF are here:
https

[2020-07-07 17:11] discochance commented on #144
Thanks, I'll try that

[2020-07-07 22:13] #74 closed

[2020-07-08 18:52] #145 closed

[2020-07-09 13:49] #75 closed

[2020-07-09 22:17] #24 closed

[2020-07-10 00:41] Michael-Grover opened #150 "empty string variable"
# Feature Request 🛍️
Because we removed the “”, it looks like a user can no longer delete the first character of a string variable by pressing backspace. This makes it really annoying to change the text of a string variable (unless you happen to want to change the variable to a different string that has the same first letter). Strangely the user **can** delete the first character by highlighting a

[2020-07-10 01:27] hohooio823 commented on #134
can you assign me on it

[2020-07-10 12:00] dselman commented on #134
Done

[2020-07-10 12:31] #136 closed

[2020-07-10 17:11] irmerk commented on #150
I think https://github.com/accordproject/web-components/issues/73 would be a better approach to this issue, given that the time this would take to implement is not likely to be very short. Plus a user is able to change the complete text, it's just a bit awkward.

[2020-07-10 19:32] Michael-Grover commented on #150
@irmerk what if we scrapped having a placeholder text for empty variables, but just made sure that all characters of a variable can be deleted when pressing backspace multiple times to delete every character, like how the user can delete the first character by highlighting all characters in a variable and then pressing backspace?

[2020-07-10 19:34] Michael-Grover commented on #150
Unless variable modals are coming soon I think it will be important to address this in some way

[2020-07-10 23:52] Michael-Grover commented on #102
I am bumping this one, I think it's important. Having to select "normal" text after typing every headline is tedious.

[2020-07-11 01:33] hohooio823 commented on #134
Solved , needs to test it and make a pull request

[2020-07-13 13:29] irmerk commented on #150
I think working on allowing an "empty variable" similar to the highlighting all characters and deleting seems doable.

[2020-07-13 13:37] Michael-Grover commented on #150
okay, I updated the issue description to reflect that

[2020-07-14 17:12] #134 closed

[2020-07-20 17:30] irmerk opened #153 "Support Hardbreaks in Markdown"
# Feature Request 🛍️
Hardbreaks are handled in the [commonmark spec](https://spec.commonmark.org/0.17/#hard-line-breaks), and should be supported in the editor

## Use Case
A user would expect the editor to respect their wishes to maintain extra spaces

## Possible Solution
A toolbar button or hotkey shortcut?

## Context
This should persist:
![image](https://user-images.githubusercontent.com/3646

[2020-07-20 17:54] DianaLease commented on #153
We would also need support for this in https://github.com/accordproject/markdown-transform to be able to roundtrip and persist these line breaks.

[2020-07-20 17:56] jeromesimeon commented on #153
The `markdown-transform` supports heartbreaks/linebreaks as far as I can tell:

[code]

[2020-07-20 17:57] DianaLease commented on #153
@jeromesimeon ah, nice!

[2020-07-20 17:59] DianaLease commented on #153
I wonder where the issue arises then. I guess when the user creates a line break in the UI it doesn't get added to the slate DOM 🤔

[2020-07-20 18:01] jeromesimeon commented on #153
I think we just need to distinguish markdown newlines from hardbreaks? They are different beasts entirely.

[code]
is two paragraphs

[code]

is one paragraph with line breaks inside it.

[2020-07-20 18:05] jeromesimeon commented on #153
Comparison, in GitHub:

<img width="1010" alt="Screenshot 2020-07-20 at 2 04 31 PM" src="https://user-images.githubusercontent.com/670099/87970630-00762480-ca92-11ea-9949-dfdfa3ca6fac.png">

<img width="928" alt="Screenshot 2020-07-20 at 2 04 45 PM" src="https://user-images.githubusercontent.com/670099/87970656-09ff8c80-ca92-11ea-911a-4b2127cd3fe2.png">

[2020-07-20 18:09] DianaLease commented on #153
Interesting. I feel like this isn't very intuitive behavior for a rich text editor (Word's behavior being the more intuitive imo). But I guess we would need a specific toolbar option like @irmerk suggested to specifically add a hard break. @Michael-Grover may have a better idea on how to handle this.

[2020-07-20 18:12] jeromesimeon commented on #153
Agreed. We are building a rich text editor for markdown though... so unless we change our mind about that I'm not sure what else we can do.

Personally, I think new lines in documents are one of the main source of horrible layout, but that's just taste (and growing up with Don Knuth).

[2020-07-20 18:19] jeromesimeon commented on #153
One more thought/question:

What should happen in the UI when you press return? (a new paragraph? a new line/hardbreak/softbreak? both?)

[2020-07-20 18:21] Michael-Grover commented on #153
Pressing enter to make a hard break/new paragraph is one of the most consistent behaviors in text editors. I've never seen this functionality need to be an icon in the formatting toolbar since there's a double sized button specifically for it on the keyboard.

I know I'm stating the obvious and that there are technical limitations, but as a user I would be very confused about why I need to move my

[2020-07-20 18:22] jeromesimeon commented on #153
How do you distinguish between new paragraph and hardbreak?

[2020-07-20 18:23] DianaLease commented on #153
Right. I think what Jerome posted here is the core of the issue: https://github.com/accordproject/web-components/issues/153#issuecomment-661245128.
Right now, pressing enter creates a new paragraph, which is entirely different than a hardbreak in markdown.

[2020-07-20 18:25] Michael-Grover commented on #153
I'm getting confused with the terminology. I'll stop using hard/soft break + carriage return for now.

I meant to say that pressing enter should create a new paragraph. Pressing enter multiple times should create empty paragraphs that look like space on the document. Pressing shift+enter should create a new line in the document.

[2020-07-20 18:26] Michael-Grover commented on #153
the definitions for hard line break and soft line break I'm finding online are not consistent

[2020-07-20 18:27] jeromesimeon commented on #153
🤔 I think that makes sense, trying to separate things:

- I think pressing enter create a new paragraph in the editor right now
- In markdown there is no way to capture this part: create empty paragraphs **that look like space**
- I think it would make sense to use something like shift+enter for hard break

[2020-07-20 18:33] irmerk commented on #153
We can only relate ourselves to rich text editors so much, because we are based on markdown which has its own specific specification. So by definition, a user cannot reasonably expect the editor to behave as Word does.

[2020-07-20 18:38] Michael-Grover commented on #153
I think a user will expect the editor to behave as Word and Google Docs do, because that's how we are presenting the editor. I think that many people who edit this won't know what Markdown is and won't care. They will just be confused when they try to make space in the document and the editor shows there is space, but then when they exit the document and return, the space is gone without explanati

[2020-07-20 18:41] irmerk commented on #153
I don't think that's the right approach. The onus is on us to help present the editor in a way which is understandable, because we are using markdown. Not HTML, not plain text. We're tied to markdown and need to adapt to that rather than trying to hack the markdown format to fit a completely different application.

[2020-07-20 18:42] jeromesimeon commented on #153
I'm a bit curious about that. Is it really how we present it?

[2020-07-20 18:51] Michael-Grover commented on #153
we have to manage a user's expectation that they will not be able to create space the same way they can in the normal text editors that people who work with contracts use, like Word and Google Docs. We can't assume our users know what markdown is and what the limitations of markdown are. I'm kind of warming up to having a "vertical spacer" option in the formatting toolbar as was previously suggest

[2020-07-20 18:54] jeromesimeon commented on #153
This is certainly an interesting (and I agree important) discussion! We do have to manage expectations. I would probably just note that re building google docs or MS word is way beyond or scope (or resources). The MSWord add in might be a better option down the road for people who want an experience like MS word.

I don't really know how to handle users expectations for the markdown editor, but su

[2020-07-20 19:21] jeromesimeon commented on #153
For reference

![MarkdownNewLines](https://user-images.githubusercontent.com/670099/87977361-9fa01980-ca9c-11ea-853e-860665ea6c54.gif)

[2020-07-20 22:43] irmerk commented on #153
@jeromesimeon this reminds me of how a lot of apps seem to be moving towards supporting `/` for commands to cut down on toolbar real estate (Slab has grayed text on new lines "_Type / for Commands_"). This is not a Word or GDocs standard. Perhaps this can act as inspiration for solving this.

[2020-07-20 23:03] jeromesimeon commented on #153
That's interesting. I can't say I 100% follow your idea, but it makes me think of inline-replacement / escape sequences. e.g., in Slack you write `- something` and it automatically turns it into a rich-text bullet. Is that the kind of thing you're thinking about?

Might be a bit more ambitious than simply solving the specific issue of line breaks but that could be an interesting direction.

[2020-07-22 21:10] martinhalford commented on #153
My 2 cents worth...

It might be good to distinguish between the implementation of whitespace in Markdown and how whitespace is permitted/handled in the Editor.

From a Markdown perspective, it would be nice if the specification of CiceroMark supported new lines/whitespace for systems that don't necessarily use the Editor.  This is mainly for stylistic reason (e.g. new lines for signatures) but us

[2020-07-22 21:13] jeromesimeon commented on #153
Couple of points/questions:
1. We are limited by what we can save in markdown (for better or worse, since we haven't picked an XML format like Word did -- XML has notions of significant / insignificant whitespace)
2. Would the notion of markdown hard line break be sufficient to capture the use case you describe in your second paragraph?

[2020-07-22 21:18] irmerk commented on #153
As noted in the call, I think having an arbitrary node or block, similar to the smart clause template, be supported in the editor may help solve this. That is, at least for a signature block and the requirement of enough space to fit a signature.

[2020-07-22 21:22] jeromesimeon commented on #153
For me, there is something technically appealing there :) but I don't trust my non-UX-designer judgment at all on this.

[2020-07-22 21:28] martinhalford commented on #153
@jeromesimeon  Yes - something involving a backslash `\` or double-space at the end of a line `  ` is all that would be needed.

[2020-07-22 21:30] irmerk commented on #153
To reiterate the point I finished on in the call:

This is _new tech_, and we should not hamstring it by trying to force it to fit the model of the past (Word, Docs, [XML](https://github.com/accordproject/web-components/issues/153#issuecomment-662699845), [PDF](https://github.com/accordproject/cicero/issues/562)). There won't be a way out of having a learning curve, but we just need to minimize th

[2020-07-22 21:33] Michael-Grover opened #156 "Copying unordered list into markdown editor causes weird behavior"
# Bug Report 🐛
Copying unordered list into markdown editor causes weird behavior, including:

1. the bulleted list can not be escaped by pressing enter twice

2. The unordered list icon in the formatting toolbar is not highlighted

3. The bullets are not indented

4. Pressing the unordered list icon while highlighting a bulleted list that was pasted from an outside source results in the content of

[2020-07-22 21:57] jeromesimeon commented on #156
Works (kinda) for me?

![CopyList](https://user-images.githubusercontent.com/670099/88232945-c436f580-cc44-11ea-884a-614bc11f8c48.gif)

[2020-07-22 22:06] Michael-Grover commented on #156
It's only unordered lists copied from sources outside of the markdown editor

[2020-07-23 00:32] jeromesimeon commented on #156
Behaviour on copy/paste from other sources will be highly dependent on the source (pdf, html, which page, etc).

Can you please provide details so we can reproduce.

[2020-07-23 15:09] Michael-Grover commented on #156
This is one example of a bulleted list that causes the issue

https://site.uit.no/english/writing-style/bulletlist/
![image](https://user-images.githubusercontent.com/40569793/88303374-f42dd980-ccd4-11ea-821b-787f19b96ce1.png)

[2020-07-23 15:15] jeromesimeon commented on #156
hm... seems to work for me. Maybe I'm doing it wrong?

![CopyListAgain](https://user-images.githubusercontent.com/670099/88304058-c1381580-ccd5-11ea-9f80-841caac5cfd6.gif)

[2020-07-23 15:29] Michael-Grover commented on #156
the bug only occurs if you copy and paste the highlighted area in this image
![image](https://user-images.githubusercontent.com/40569793/88305679-c7c78c80-ccd7-11ea-9803-d8df326649cf.png)

[2020-07-23 15:30] Michael-Grover commented on #156
it looks like copying the line before the bulleted list makes the bug not occur

[2020-07-23 18:27] Michael-Grover opened #157 "Possible to drag and drop a clause template into a list"
# Bug Report 🐛
It's possible to drag and drop a clause template into a bulleted list or numbered list

## Expected Behavior
when dragging a clause template into a list, the clause template should be placed outside of the list rather than becoming part of the list

## Current Behavior
When a user drags a clause template onto a bulleted list or numbered list, the clause template appears to become th

[2020-07-23 18:30] jeromesimeon commented on #102
Do we think someone might still want a way to do new lines inside a title? You can definitely do it in markdown.

Maybe:
- default should be a new paragraph after the title
- shift-return should stay within the title (in a way symmetric to shift-return for hard breaks inside a paragraph)

[2020-07-23 18:52] Michael-Grover opened #158 "Changing a group of paragraphs to a numbered list only indents the paragraphs"
# Bug Report 🐛
If the user highlights a group of paragraphs and clicks the numbered or bulleted list icons, the paragraphs are indented, but not given a bullet or a number.

![image](https://user-images.githubusercontent.com/40569793/88326510-1daa2d80-ccf4-11ea-8fb1-82c81f559f34.png)

## Expected Behavior
Highlighting a group of paragraphs and clicking the numbered or bulleted list icons should tu

[2020-07-23 18:54] jeromesimeon commented on #102
<img width="1186" alt="Screenshot 2020-07-23 at 2 53 45 PM" src="https://user-images.githubusercontent.com/670099/88326736-59dd8e00-ccf4-11ea-9b67-53f8764c5cb0.png">

[2020-07-23 18:56] Michael-Grover commented on #102
I think shift+return should create a line break within the header paragraph and keep the header formatting. If a user presses return, that should create a new paragraph that is normal text

[2020-07-23 19:10] jeromesimeon commented on #102
I like that

[2020-07-26 20:37] shubhamkakkar commented on #87
@irmerk I am planning to look into this.
1. the demo link you addded in the description doesnt works
2. can you guide me to the exact component, I am new to the projec so dont have much idea;

[2020-07-27 13:08] irmerk commented on #87
Sorry about that @shubhamkakkar I updated the demo link - it was before we moved back to Netlify. Yes so these tooltips are located [here in the Clause component](https://github.com/accordproject/web-components/blob/master/packages/ui-contract-editor/src/lib/components/Clause/index.js#L178-L237), that should be your starting point.

[2020-08-13 15:18] mttrbrts opened #166 "Media asset fail to load in Storybook"
# Bug Report 🐛

When viewing pages that require non-css media resources (such as woff font files in ui-concerto) the assets have the wrong URL in the built code.

For example the Semantic UI woff files are referenced as `/static/css/static/media/...` rather than the correct `/static/media/...` path.

I assume that this is something related to the rollup/webpack config for production as it only occ

[2020-08-14 13:10] #166 closed

[2020-08-19 14:08] #69 closed

[2020-08-25 18:35] justinclanglinais commented on #91
Hi, I can't reproduce this error.

[2020-08-25 19:07] justinclanglinais commented on #51
I'd like to work on this issue!

[2020-08-25 19:24] irmerk commented on #91
I can't either. Unsure what changed since May. Closing.

[2020-08-25 19:24] #91 closed

[2020-08-26 11:00] dselman opened #175 "volumediscountolist template has linked variables"
When editing the `volumediscountolist` template with the web-components the variables for all rows are linked and get updated simultaneously.

## Expected Behavior
Should be able to edit each row independently.

## Current Behavior
Variables in all rows are linked.

## Possible Solution
We need to distinguish between variables and variables that are inside a list.

## Steps to Reproduce
1. Open th

[2020-08-26 17:35] jeromesimeon opened #177 "Should formulas be styled in a way that does not suggest they can be edited"
# Discussion 🗣
During a demo of the template formulas (e.g., fixed interest monthly payment for a loan calculated in Ergo) in the contract editor, the user got confused thinking they could click inside the box to change the value.

Would there be a way to style formulas in a way that does not suggest they can be edited (something else than a box, or a solid box or something else?) while still draw

[2020-08-26 18:20] Michael-Grover opened #178 "Don't let users drag and drop embedded clauses"
# Feature Request 🛍️
Make it clear that users can not drag and drop embedded clauses. Embedded clauses currently have the same drag and drop UI as normal smart clause templates, implying that they can be dragged and dropped.

## Use Case

## Possible Solution
Remove drag and drop UI from embedded Clauses and give some padding so the borders aren't intersecting with the parent clause

This examples

[2020-08-26 18:21] Michael-Grover commented on #178
Users probably shouldn't be able to delete embedded clauses either, right?

[2020-08-26 18:30] Michael-Grover opened #179 "Text cursor is in wrong location when selecting after last character in a variable"
# Bug Report 🐛
When a user selects after the last character in a variable, the text cursor appears to be slightly outside of the variable, instead of where the text will appear when the user types a character.

## Expected Behavior
Text cursor should be where the text will appear, like this:

![image](https://user-images.githubusercontent.com/40569793/91342025-6ef08580-e7a8-11ea-9a57-64f279d72836.

[2020-08-26 18:33] jeromesimeon commented on #178
They can do it in contract templates like this: https://templates.accordproject.org/copyright-license@0.15.0.html

<img width="1068" alt="Screenshot 2020-08-26 at 2 32 41 PM" src="https://user-images.githubusercontent.com/670099/91342451-0ce45000-e7a9-11ea-84dc-3f143a807bfd.png">

I think the plan is to clarify contract v clause templates down the road, including in the editor.

[2020-08-26 22:57] DianaLease commented on #177
closed by #180

[2020-08-26 22:57] #177 closed

[2020-08-27 20:09] Michael-Grover opened #182 "Shift+enter to create new line in same paragraph"
# Feature Request 🛍️
currently pressing enter creates a new paragraph, however there is no way to create a new line in the same paragraph. In most document editing software, shift+enter creates a new line within the same paragraph. Let's bring this functionality to AP so that we can provide a more consistent experience for people used to common document editors like Microsoft Word and Google Docs.

[2020-08-29 16:12] jeromesimeon commented on #64
This feature is commonly referred to as "design mode" to distinguish template editing from instance contract editing.

[2020-09-02 15:20] Michael-Grover opened #184 "Long clause template names intersect with template logo"
# Bug Report 🐛

Long clause template names intersect with the template logo, like this:
![image](https://user-images.githubusercontent.com/40569793/92003322-e37a7580-ed0e-11ea-840b-b7cb366964df.png)

## Expected Behavior
Template names should wrap to a second line if they can not fit on the first line without overlapping the logo

[2020-09-02 15:44] Michael-Grover opened #185 "Clause template buttons overlap tooltips"
# Bug Report 🐛
Clause template buttons overlap tooltips so that the tooltips can't be read, like this example:
![image](https://user-images.githubusercontent.com/40569793/92005485-892ee400-ed11-11ea-8138-c084f5cf1a43.png)

## Expected Behavior
Tooltips should appear in front of everything else

[2020-09-05 16:34] sanketshevkar commented on #133
Hello @dselman I would like to work on this feature. Is this still open?

[2020-09-05 16:39] jeromesimeon commented on #133
Hi @sanketshevkar As far as I can tell this is still open. You can test it on the storybook.

https://ap-web-components.netlify.app/?path=/story/contract-editor--contract-editor

I'll assign you. CC @irmerk

[2020-09-05 16:42] sanketshevkar commented on #133
Ok cool. Thanks @jeromesimeon

[2020-09-09 10:34] ishitajaiswal4m commented on #184
@irmerk can i work on this issue ?

[2020-09-14 16:48] #41 closed

[2020-09-14 16:48] #49 closed

[2020-09-14 16:48] #153 closed

[2020-09-14 16:48] #182 closed

[2020-09-14 17:06] dselman commented on #153
Editor support for SHIFT-ENTER to insert a markdown linebreak (`<br/>` in HTML) has been added. Closing this - please create new issues if this is insufficient with additional details.

[2020-09-14 17:07] dselman commented on #182
Editor support for SHIFT-ENTER to insert a markdown linebreak (`<br/>` in HTML) has been added. Closing this - please create new issues if this is insufficient with additional details.

[2020-09-14 17:07] dselman commented on #49
Editor support for SHIFT-ENTER to insert a markdown linebreak (`<br/>` in HTML) has been added. Closing this - please create new issues if this is insufficient with additional details.

[2020-09-14 17:07] dselman commented on #41
Editor support for SHIFT-ENTER to insert a markdown linebreak (`<br/>` in HTML) has been added. Closing this - please create new issues if this is insufficient with additional details.

[2020-09-14 17:11] jeromesimeon commented on #38
Update: still persists.

[2020-09-14 17:28] dselman commented on #38
I can reproduce this in the Markdown Editor - so it's nothing to do with the Contract Editor.

[2020-09-14 17:31] jeromesimeon commented on #38
Original issue was filed pre-slate 0.57 pre-web-components

[2020-09-15 06:52] Manan17 commented on #185
It just needs a z-index = 1 in css file so that the tooltips can be read easily

[2020-09-15 14:35] irmerk commented on #185
@Manan17 yeah I think that makes sense. I believe a lot of other components in there use `z-index`, so it may need to be larger than `1`.

[2020-09-15 17:40] Manan17 commented on #185
Can I work on this issue?

[2020-09-15 17:51] Michael-Grover commented on #185
@Manan17 yes, thanks! I've assigned the issue to you.

[2020-09-15 18:00] Manan17 commented on #185
I cannot see the clause template buttons in the live demo. Is it in the original code? So I have to run the app locally?

[2020-09-15 18:31] Michael-Grover commented on #185
@Manan17 I recorded how to replicate the issue, let me know if this helps.

https://www.loom.com/share/fb5889cfc04a405f9a68c9212ea3f728

You have to go to the storybook https://ap-web-components.netlify.app/?path=/story/*
then select the contract editor
then choose the Late Delivery and Penalty template in the Knobs section

[2020-09-15 18:32] Michael-Grover commented on #185
in the video I chose the wrong template, but if you choose "Late Delivery and Penalty (with optional & this)" you will see the issue

![image](https://user-images.githubusercontent.com/40569793/93250071-3d902780-f760-11ea-80f2-882fada5d3bd.png)

[2020-09-15 18:54] Manan17 commented on #185
Thanks. It helped me , starting to work on the issue

[2020-09-16 20:49] mttrbrts opened #192 "Add a React DOM Testing Framework"
# Feature Request 🛍️

Currently, the web-components library does not have any standardized way of unit testing the React components in this repo. The first step to solving this problem should be to install and configure a test framework with a sample test to allow other contributors to add further tests.

## Possible Solution
I propose `React Testing Library` as it is now the most popular DOM test

[2020-09-16 22:17] dselman opened #194 "Read-only variables"
# Feature Request 🛍️

In some cases it is useful to be able to tag a variable as read-only, such that it is present in the document, but can not be edited.

## Use Case
This will be used for signature blocks.

## Possible Solution
Look for the `ContractEditor("readOnly") decorator on the model element.

[2020-09-18 14:14] jeromesimeon opened #197 "Editing a variable sometimes updates other variables with the same name"
# Bug Report 🐛
In some cases, editing one variable would edit another variable making it impossible to distinguish them.

## Expected Behavior
Update to a variable should be propagated to the same variable in other places in the document, but not to different variables.

## Steps to Reproduce

Example with the copyright license template:

![MEandYOU](https://user-images.githubusercontent.com/67009

[2020-09-18 14:26] dselman commented on #197
Interesting. What does the CiceroMark look like? I think the editor just uses the variable name from the CiceroMark node.

[2020-09-18 14:31] jeromesimeon commented on #197
Model:
[code]

CiceroMark:
[code]
...

So yes something is going very wrong in the CiceroMark there, there is no `licensee` or `licensor`.

This issue should probably be pushed down to the markdown-transform.

This is quite likely a common idiom.

[2020-09-18 14:44] dselman commented on #197
I see - so we need to distinguish between the name of the field to be updated when editing, and the name of the variable in the model (field name in the owning type). For complex types, those are two different things.

Perhaps we should set `elementType` in the CiceroMark for this example to `AccordParty` and the name should be `licensee` -- it is then up to the editor/transformation to decide on

[2020-09-21 12:17] dselman opened #199 "Hide form editor fields using a model decorator"
# Feature Request 🛍️
Add support for selectively hiding fields in the Concerto Form editor via a Concerto decorator placed on the corresponding Concerto field.

## Use Case
In some cases fields need to be selectively hidden, so that they cannot be updated using the UI.

## Possible Solution
Check for the presence of the `@FormEditor("hide", true)` decorator.

## Context
- Signature blocks

[2020-09-21 15:04] irmerk commented on #197
I'm confused why they're both `partyId` in [this CiceroMark](https://github.com/accordproject/web-components/issues/197#issuecomment-694903715).

[2020-09-21 15:07] jeromesimeon commented on #197
But the variable `partyId` is of type String. I fear this will make pop ups difficult to handle.
Also, how would that work when a type has multiple variables (e.g., an Address)?

[2020-09-21 15:08] jeromesimeon commented on #197
Because this is the name of the variable for both the licensor and the licensee (both contain an AccordParty, and each AccordParty has a partyId).

[2020-09-21 15:24] jeromesimeon commented on #197
Here is the same issue with the rental agreement with a `RentalParty` containing both a `partyId` and an `address`

![RentalPartyMix](https://user-images.githubusercontent.com/670099/93786126-ecb77d80-fbfc-11ea-8d22-3da707da6a83.gif)

[2020-09-21 15:37] #199 closed

[2020-09-21 15:59] #194 closed

[2020-09-25 15:28] irmerk commented on #10
Update on this: https://momentjs.com/docs/#/-project-status/

Maybe use https://moment.github.io/luxon/

[2020-09-25 15:30] irmerk commented on #12
@mttrbrts can you share what the status of this is?

[2020-09-25 15:31] jeromesimeon commented on #10
Resolution on this, if any, should be consistent with whatever we decide on Concerto itself. See https://github.com/accordproject/concerto/issues/205

[2020-09-25 18:11] mttrbrts commented on #12
Sorry @irmerk , I've not looked at this recently, happy for you to reassign

[2020-09-28 13:42] irmerk commented on #51
@justinclanglinais any update on this? Need any help?

[2020-09-28 14:58] irmerk commented on #68
@DianaLease this is complete, correct?

[2020-09-28 15:54] Ian-Yy commented on #192
Hi, may I pick this up? So, I will try to implement `React Testing Library` and write some sample tests right?

[2020-09-28 16:00] dselman opened #201 "Ability to use drop-downs to specify relationships in form"
# Feature Request 🛍️
Concerto Form currently supports editing relationships, but they are edited as free text. It would be a much better editing experience to be able to select the target of a relationship using a drop-down or search component.

## Use Case
Editing relationships as free text input fields is error prone and confusing for end users.

## Possible Solution
Allow the application develo

[2020-09-28 17:15] dselman commented on #197
Also see: https://github.com/accordproject/web-components/issues/175

[2020-09-29 02:13] surajkulriya opened #203 "Terminal showing error "lerna: command not found" even after installing lerna with "npm install -g lerna""
#112 Bug Report 🐛
Terminal showing "lerna: command not found" even after installing it

When installing lerna in ubuntu 18.04 with command "npm install -g lerna" it successfully gets installed but when we run any new command related to lerna like "lerna --version" or "lerna clean" it shows "lerna: command not found"

And after installing once when you again use the installing command it should ret

[2020-09-29 02:32] surajkulriya opened #204 "Not receiving invitation link on Gmail from slack"
# Bug Report 🐛
After entering my gmail id in slack channel invitation column it says "Success! Check 'surajkulriya@gmail.com' for an invite from Slack." but I did not received any email regarding that.

### Desktop
 - OS:  18.04
 - Browser: Chrome

[2020-09-29 03:09] jeromesimeon commented on #204
Hi @surajkulriya Thanks for the report! I'm looking into this. For the time being you should be able to sign up with this direct link. https://accord-project.slack.com/join/shared_invite/zt-hej4q3ps-I1G2uSfKUhDMvcFKRggXGw#/

Let me know if that works.

[2020-09-29 03:12] jeromesimeon commented on #203
This is most likely not related to this repo, but a lerna installation issue. I would suggest to look into help from the lerna community for this.

Possibly if on Windows this thread might help: https://github.com/lerna/lerna/issues/387

[2020-09-29 03:13] surajkulriya commented on #204
Thank you sir the link you provided me is working and I have joined the channel.

[2020-09-29 03:15] #204 closed

[2020-09-29 12:36] dselman commented on #203
If you cannot install lerna on Ubuntu 18.04, I'm afraid you will have to file an issue on their repo:
https://github.com/lerna/lerna/issues

[2020-09-29 12:36] #203 closed

[2020-09-29 13:00] irmerk commented on #192
Yes @Ian-Yy that sounds good!

[2020-09-29 13:46] #201 closed

[2020-10-01 11:36] whyang0808 commented on #47
Hi, may I pick this up?

[2020-10-02 12:15] #51 closed

[2020-10-02 12:36] #47 closed

[2020-10-02 19:57] jeromesimeon opened #210 "Components code reorganisation / cleanup"
# Discussion 🗣
All components have the following general structure, where several things seem to be unused / dead code:
[code]

Is there a reason for this code organization? Could we perhaps consolidate into something more like:
[code]

[2020-10-02 19:58] jeromesimeon commented on #210
@irmerk @DianaLease Would love your insight / input / thoughts on this.

[2020-10-02 21:09] Michael-Grover opened #211 "Hyperlink shortcut doesn't work"
## Bug Report 🐛
Pressing cmd+k on Mac while highlighting text does not create a hyperlink

## Expected Behavior
Pressing cmd+k on mac or ctrl+k on windows while highlighting text should turn that text into a hyperlink.

## Current Behavior
Pressing the shortcut does nothing

[2020-10-03 11:42] dselman opened #212 "Read-only variables are editable if you insert text at position 0"
# Bug Report 🐛
Variables that are marked as read-only using a decorator are editable if you place your cursor position just before the first character of the variable and type.

## Expected Behavior
Should not be able to edit read-only variables.

## Current Behavior
Can insert characters before the first character of the variable.

## Possible Solution

## Steps to Reproduce
1. Add a signature bl

[2020-10-04 03:27] Ian-Yy commented on #192
Hi, I've went through both `React Testing Library` and this repo. Now, I am confused whether should I be writing sample test for the packages or for the repo. Because I see components in packages is another repo and some even have their own unit tests.

[2020-10-04 14:23] sahalsaad commented on #97
I'll try to fix this issue.

[2020-10-04 22:51] sahalsaad commented on #50
Hi, in Hacktoberfest profile it show below status for my PR to this repo.
![image](https://user-images.githubusercontent.com/22321353/95028979-390fbc80-06d7-11eb-87f0-31479fad246f.png)

[2020-10-05 15:47] irmerk commented on #192
@Ian-Yy I think start with writing a test for for a package and we can expand from there. So maybe start with [`ui-markdown-editor`](https://github.com/accordproject/web-components/tree/master/packages/ui-markdown-editor) and don't focus as much on the entire repo - we can iterate from here and move on to the rest of the packages.

[2020-10-05 15:51] irmerk commented on #210
I think this is a good idea, however a couple points I'd like @DianaLease's input on:

[code]

[2020-10-05 16:03] jeromesimeon commented on #210
Pretty sure it's not? Where is it used?

[2020-10-07 14:57] #50 closed

[2020-10-07 22:03] Ian-Yy commented on #192
Hi @irmerk , I've created a PR. please review and let me know if its ok. Thanks

[2020-10-09 13:33] #97 closed

[2020-10-09 22:55] sahalsaad commented on #212
Hi @dselman ,

Sorry to ask. How to add signature block?

[2020-10-09 23:09] dselman commented on #212
Open the Storybook, select Knobs and then select the Signature Block template in the drop down.

[2020-10-16 14:24] Michael-Grover opened #218 "Remove hyperlink modal fade-in effect"
# Discussion 🗣
Currently when a user opens the hyperlink modal by clicking on the icon or using the shortcut, the modal slowly fades in. Let's remove this animation, it's not necessary and makes the editor feel sluggish.

[2020-10-16 14:25] #192 closed

[2020-10-16 14:25] #211 closed

[2020-10-16 14:27] irmerk commented on #218
Agreed.

[2020-10-16 14:39] Michael-Grover opened #219 "Hyperlink modal goes off page"
# Bug Report 🐛
The hyperlink modal sometimes goes off the page if the link is near the edge of the page.
![image](https://user-images.githubusercontent.com/40569793/96272146-b373f280-0f9b-11eb-87dd-6e1b2b9302e8.png)

I may provide a mockup for how this could be fixed later, but open to suggestions

[2020-10-16 15:44] Prateeknandle commented on #218
I would like to do it , plz assign me.

[2020-10-16 19:10] #114 closed

[2020-10-19 11:30] amanda-ariyaratne commented on #96
This issue seems to be coming from Slate. Can you please elaborate your proposed solution. @irmerk I don't think checking at the top level could be enough because the nodes can be in a nested structure.

[2020-10-19 18:51] irmerk commented on #96
@amanda-ariyaratne hmm interesting... I think my suggestion could still be good because the check would not be concerned with if something is nested. It would check if the beginning and end of a selection are in the same root node.

![Screen Shot 2020-10-19 at 2 51 06 PM](https://user-images.githubusercontent.com/36460856/96498809-8a14ca00-121a-11eb-9c05-272243d4371a.png)

[2020-10-21 05:55] amanda-ariyaratne commented on #96
![Screenshot (8)](https://user-images.githubusercontent.com/28347418/96677970-53f85700-138e-11eb-836ac5389f57b1f6.png)

So in this example (attached screenshot),

If I double click and highlight the second numbered list item the selection is
[code]

If I triple click the same the selection is
[code]

A solution might be possible still. But I'm sure how complex the nesting can get.

Also the demo g

[2020-10-21 06:50] amanda-ariyaratne commented on #102
Hello, Is this issue up for grabs?

[2020-10-21 14:18] Michael-Grover commented on #102
Yup, I just assigned it to you. Thanks!

[2020-10-21 14:37] irmerk commented on #96
@amanda-ariyaratne good point on it being in Slate, I should have looked when you mentioned it was coming from there. There doesn't _appear_ to be any [Issue on it in their repository](https://github.com/ianstormtaylor/slate/issues?q=is%3Aissue+is%3Aopen+link).

I would think the solution should be from down in Slate. So I think marking this as Won't Fix and opening an issue in their repository is

[2020-10-21 17:15] amanda-ariyaratne commented on #96
@irmerk yeah sure I'll open up a new issue in Slate, if it isn't already there.
I'm new to this so wanted to make sure there's nothing to be done from this side. Thanks.

[2020-10-22 19:47] jeromesimeon commented on #210
Approved / fixed in #209

[2020-10-22 19:47] #210 closed

[2020-10-24 11:18] nik72619c commented on #219
Anyone working on this @Michael-Grover? Would like to take this up 🙂

[2020-10-26 15:12] #102 closed

[2020-12-06 10:59] K-Kumar-01 commented on #219
@Michael-Grover The issue seems inactive to me. I would like to have a go at the issue.
My Possible solutions:
1) Change the style property of the box (we would also need to change the arrow above the link box).
2) Change the width of the box and set overflow-x to scroll.

You said that you could provide a mockup, so I am open to that also.

[2020-12-08 13:24] irmerk commented on #219
@K-Kumar-01 go for it! I think option 1 might be best to start with.

[2020-12-08 14:38] Michael-Grover commented on #219
I agree, thanks @K-Kumar-01

[2020-12-10 07:02] K-Kumar-01 commented on #219
@Michael-Grover  @irmerk
I have made the changes. Had a doubt regarding the point
[code]

Since I cloned latest repo and there were no changes made so I did not do the following:
[code]

Now while doing `git rebase upstream/master` it is showing invalid upstream.
Since the repo is already at latest, Can i proceed without this step?

Also on `npm run test` it shows **missing script:doc**
P.S:Althou

[2020-12-10 13:36] irmerk commented on #219
@K-Kumar-01 those instructions are for forking this repository. Since you just cloned it, you can probably do the following:
[code]

I'd encourage you to fork the repository in the future though!

[2020-12-10 13:42] K-Kumar-01 commented on #219
I had forked the repo. There seems to be a misunderstanding.
It's just that I think there is no rebasing required as no changes were made when I forked so the above comment.
I apologize for the bad choice of words I made earlier.

[2020-12-10 14:58] irmerk commented on #219
Oh oops, okay so when you cloned your fork, did you [set the upstream](https://github.com/accordproject/techdocs/blob/master/DEVELOPERS.md#building-a-project)? `git remote add upstream "https://github.com/accordproject/web-components.git"` That could cause this issue:

Still, yeah you should be able to push up and open a PR fine.

[2020-12-10 15:04] K-Kumar-01 commented on #219
Nope, I did not add upstream.
So should I make PR?
Done the following steps:
1. Made a new branch
2. Made a commit

Got an error in the upstream part, so had a doubt.

[2020-12-10 15:53] irmerk commented on #219
Not 100% sure, but I _believe_ you don't need to add the upstream in order for GitHub to pick up your pushed commit and allow you to open a PR. So yeah just make the PR.

[2020-12-10 19:10] K-Kumar-01 commented on #219
@irmerk @Michael-Grover
I have made a PR for the issue.
Few things to clarify.
`npm run test` gave an error so testing not done (though only styling is changed)
The process was brute force by searching for the breakpoints manually.
Further devices less than 335px won't have modal arrow rendered correctly(though modal will render correctly).
Please let me know if any changes are required.

[2020-12-15 11:28] K-Kumar-01 commented on #218
@irmerk  @Michael-Grover
The issue seems inactive. I would like to work on it.

[2020-12-15 11:46] K-Kumar-01 commented on #212
I am not able to reproduce the issue.
I have inserted the signature block template and then made read only.(The text is not locked in my case).
After that the cursor arrow is not changing when hovering on field or before the first character.

[2020-12-15 12:23] K-Kumar-01 opened #224 "Deprecated import usage uuid"
# Discussion 🗣

We are using the uuidv4 from the 'uuid' package. This is deprecated.

## Context

Attaching a Screenshot
![DeepinScreenshot_20201215164344](https://user-images.githubusercontent.com/59891164/102213967-8f7e5000-3efd-11eb-8efd-3cb787995a34.png)
In console.log() it can be seen the package is deprecated

## Detailed Description

Should use v4() module instead of this package.

**Would

[2020-12-15 15:54] Michael-Grover commented on #218
@K-Kumar-01 thanks, I've just assigned it to you

[2020-12-15 16:06] irmerk commented on #212
@K-Kumar-01 The issue is that the user shouldn't need to mark this as read only. Notice if you don't mark it as read only, you can type at the beginning of a signature field but not in the middle of the field.

[2020-12-15 16:09] irmerk commented on #224
I agree we should switch to [uuid](https://www.npmjs.com/package/uuid), as noted in [uuidv4's documentation](https://github.com/thenativeweb/uuidv4#please-note).

[2020-12-16 16:51] #219 closed

[2020-12-16 18:45] K-Kumar-01 commented on #218
@Michael-Grover
I have made a PR which will be able to close the issue.
Let me know if any changes are required :)

[2020-12-16 20:44] #218 closed

[2020-12-18 12:40] K-Kumar-01 commented on #224
@irmerk
I have created a PR for the issue. Let me know if any changes are required :)

[2020-12-18 12:54] K-Kumar-01 opened #228 "Toolbar icons shrink too much"
# Discussion 🗣

The icons in the toolbar area in the markdown editor seem to be too small on certain window sizes.
This doesn't look good. (the tooltip is shown on hover though)

## Context

Attaching an image for reference.
![DeepinScreenshot_20201218181333](https://user-images.githubusercontent.com/59891164/102616185-2c8af400-415d-11eb-9b9c-ab9d45c28162.png)
As seen above the toolbar icons are n

[2020-12-18 14:33] #224 closed

[2020-12-18 16:52] K-Kumar-01 commented on #228
@irmerk
I would like to work on this issue. Please assign this to me.

[2020-12-20 09:32] K-Kumar-01 commented on #228
@irmerk
I have created a PR for the issue. Let me know if there are any changes required.

[2020-12-22 18:12] K-Kumar-01 opened #230 "Unnecessary Imports"
# Discussion 🗣

There are some files present in the codebase that have unnecessary imports.
These could be removed as they are not used.

## Detailed Description

Particularly, I saw three such files (might have missed some).
They are:
1.`4-ContractEditor.stories.js`
2.`3-ConcertoForm.stories.js`
3.`FormattingToolbar/index.js`

[2020-12-22 19:22] irmerk commented on #230
What are the imports that are unnecessary? Could you like to the code?

[2020-12-22 19:38] K-Kumar-01 commented on #230
@irmerk
These were the lines where imports are not being used.

### FormattingToolbar/index.js
**_Line 4:_**`import { Transforms } from 'slate';`

### 4-ContractEditor.stories.js
_**Line 4:**_: `import { Provider, connect } from 'react-redux';`  (connect)
_**Line 15 **_:
`import { text, select, boolean, object } from '@storybook/addon-knobs';` (text, object)
_**Line 16:**_
`import { storiesOf } fr

[2020-12-23 19:12] irmerk commented on #230
I think removing the unused imports works. However, this is pretty low priority, especially for the `...stories.js` files because they are not published to `npm`.

[2020-12-23 20:08] K-Kumar-01 commented on #230
Well, I had no idea about the priority of the packages :sweat_smile:. I think we can close the issue then as it hardly affects the work

[2020-12-24 11:06] khanjasir90 commented on #179
@Michael-Grover can i work on this!

[2020-12-27 00:40] aashrafh commented on #53
Can I work on it?

[2020-12-27 00:43] aashrafh commented on #53
I want to work on it. I understood that it needs someone to investigate the code and make sure that all of these dependencies are used and suggest a better/lighter alternative, right?

[2020-12-28 14:09] irmerk commented on #53
That's correct @aashrafh, and some of the dependencies may be unused.

[2020-12-28 15:34] Michael-Grover commented on #179
Hi @khanjasir90 yes, thanks! @DianaLease has assigned the task to you.

[2021-01-03 06:27] sanketshevkar commented on #157
Hey is this bug solved? I'll like to work on this issue.

[2021-01-03 18:14] Michael-Grover commented on #157
@sanketshevkar it looks like this bug hasn't been solved. I've assigned it to you. Thanks for volunteering! I am not an engineer, so if you have any questions about this bug, they should be directed towards @DianaLease, @irmerk, or another code maintainer.

[2021-01-04 02:20] sanketshevkar commented on #157
@Michael-Grover Okay sure.

[2021-01-04 18:54] sanketshevkar commented on #157
@Michael-Grover is there any use case wherein you'll be needing a list of clauses?

[2021-01-04 18:56] Michael-Grover commented on #157
@sahalsaad No, I don't think so. @jeromesimeon could probably answer that question more accurately. He is busy today, but may be able to respond tomorrow.

[2021-01-05 11:48] sanketshevkar commented on #157
@Michael-Grover I've added a pull request for this issue. I've added both behaviours, adding clause inside as well as outside a list.

[2021-01-05 13:58] #230 closed

[2021-01-05 16:17] gatij10 commented on #158
Is this issue still open? May I solve the bug ?

[2021-01-05 16:31] Michael-Grover commented on #158
@gatij10 I checked and it looks like this bug still exists. Thanks for volunteering, I've assigned this issue to you.

[2021-01-08 07:27] naveen8801 commented on #184
@irmerk Hii ,  i  wanna work on it , is this issue still open ?

[2021-01-08 17:59] Michael-Grover commented on #184
@naveen8801 it looks like there has been no activity on this issue in the last three months. Thanks for volunteering! I will assign it to you.

[2021-01-10 08:25] naveen8801 commented on #184
@Michael-Grover  , thanks

[2021-01-12 05:55] naveen8801 commented on #184
Hii @Michael-Grover  , i have made some pull requests but some tests are it failed in some tests . Need help !

[2021-01-12 14:29] Michael-Grover commented on #184
@DianaLease, @jeromesimeon, or @irmerk may be able to help

[2021-01-25 14:00] #228 closed

[2021-01-25 14:00] mttrbrts opened #235 "Migrate CI/CD to GitHub Actions"
Motivated by the recent Technical Steering Committee discussion about reducing the number of vendors and the notes from @jeromesimeon https://github.com/accordproject/technical-steering-committee/issues/4#issuecomment-763173151
I propose that this repo is migrated to use GitHub Actions.

# Chore 🧼
The new pipeline should include the following phases and be feature equivalent to the existing Travis

[2021-02-02 04:27] Udbhavbisarya23 commented on #146
@dselman I would like to work on this issue. Is it still open?

[2021-02-02 05:07] jeromesimeon commented on #146
@Udbhavbisarya23 Still open!

[2021-02-02 07:54] K-Kumar-01 commented on #185
@Michael-Grover @irmerk
I have opened a PR for the issue as the issue seemed inactive to me.
 Let me know if there are any changes required.

[2021-02-02 13:49] #185 closed

[2021-02-05 15:16] igarg2001 commented on #235
Can I work on this?

[2021-02-05 16:18] irmerk commented on #235
Hi @igarg2001, apologies I didn't mark it, but I already started working on this! This work is needed in most of our other repos, though, see https://github.com/accordproject/technical-steering-committee/issues/4#issuecomment-763173151

[2021-02-05 18:37] jeromesimeon commented on #235
Those CI/CD items are better handled by maintainers. (need a good understanding of the deployment process, testing,  sometimes org access, etc.)

[2021-02-06 07:42] igarg2001 commented on #235
No issues, I'll look for some other issues.

[2021-02-08 18:51] Udbhavbisarya23 commented on #146
@dselman @jeromesimeon @irmerk I have opened a pr with the changes required. Let me know if i need to make any more changes

[2021-02-08 21:43] #146 closed

[2021-02-08 23:05] #157 closed

[2021-02-09 04:35] steelbrain opened #238 "Add repository information to package.json"
# Feature Request 🛍️

Add repository information to package.json

https://docs.npmjs.com/cli/v6/configuring-npm/package-json#repository

## Use Case

It'll point people discovering your packages on NPM to your Github repository

[2021-02-09 04:36] sanketshevkar commented on #212
Can I work on this bug?

[2021-02-09 05:59] sanketshevkar commented on #212
I was able to reproduce this bug. Had a question, what is the difference between Variable in the Signature Block Template and Acceptance of Delivery Template?

[2021-02-09 13:10] irmerk commented on #238
Good suggestion! I think we can do a coordinated addition to all our main repositories at the same time so we don't overlook any. I opened this within the `techdocs` repository as a sort of central hub.

I'm going to close this one in favor of https://github.com/accordproject/techdocs/issues/341

[2021-02-09 13:10] #238 closed

[2021-02-09 13:17] irmerk commented on #212
@dselman I think you'd be able to answer this best.

[2021-02-09 14:46] DianaLease commented on #184
Closed by https://github.com/accordproject/web-components/pull/239

[2021-02-09 14:46] #184 closed

[2021-02-09 15:21] sanketshevkar commented on #212
I have solved this bug, but I'm facing an issue with the build. Sometimes the text inside the clause is not editable whereas the variables are. Sometimes the build works just fine. I forked the project again but it's showing the same behavior. Also during the build, I'm getting a warning.
![eror](https://user-images.githubusercontent.com/43399522/107385018-859d5580-6b18-11eb-97e6-d99e3acb695c.png)

[2021-02-09 16:46] irmerk commented on #212
Not sure I follow @sanketshevkar, what are the steps you're doing that result in the behavior you're seeing?

[2021-02-09 17:47] sanketshevkar commented on #212
@irmerk, sorry I guess that's the general behavior, I might have made some mistake while resolving the bug which led to my misunderstanding. I'm have made a pull request for this.

[2021-02-10 13:12] #212 closed

[2021-02-10 13:26] sanketshevkar commented on #150
Can I work on this issue?

[2021-02-10 21:12] #150 closed

[2021-02-10 21:27] Michael-Grover opened #242 "Users can not highlight read only text in a clause template"
# Bug Report 🐛
Users currently can not highlight read only text in a clause template. A user should be able to highlight read only text, but not be able to change the text. A user may want to highlight read only text so that they can copy and paste it

## Steps to Reproduce

1.  go to the [contract editor demo in the storybook](https://ap-web-components.netlify.app/?path=/story/contract-editor--co

[2021-02-10 22:29] dselman commented on #175
Looking at this now.

[2021-02-10 22:32] dselman commented on #87
@DianaLease is this now fixed with the z-index changes?

[2021-02-10 23:31] irmerk commented on #87
I believe the changes we mentioned during the Working Group call were in relation to the buttons on a clause, not the formatting toolbar.

[2021-02-11 16:53] sanketshevkar commented on #178
@Michael-Grover I'll like to work on this feature.

[2021-02-11 16:59] Michael-Grover commented on #178
@sanketshevkar I've assigned you, thanks!

[2021-02-11 20:48] DianaLease commented on #87
@dselman @irmerk It's still an issue, but not as bad as the screenshot in the original post as we have changed the toolbar since then. Here's an updated screenshot:
![Screen Shot 2021-02-11 at 3 46 47 PM](https://user-images.githubusercontent.com/20543103/107696869-7afdd000-6c80-11eb-96c0-111e1b61dd36.png)

[2021-02-12 04:19] sanketshevkar opened #248 "Not allowing cursor caret in non-editable clause text"
# Feature Request 🛍️

## Use Case

When cursor caret is blinking inside the non-editable clause text, it feels as if that text is editable. Since the text is read-only, cursor caret should not be allowed to place inside the clause text.

## Possible Solution

Set `caret-color: transparent;` for read-only text.

[2021-02-12 04:30] sanketshevkar commented on #178
![bug](https://user-images.githubusercontent.com/43399522/107730203-d380ac00-6d18-11eb-8bc5-8832c9282c83.png)
This seems like an embedded clause but it does not have the 'Embedded 'title and shares the same drag and drop Icon with the main clause.

[2021-02-12 13:58] irmerk commented on #179
@Michael-Grover I don't believe this is an issue. When looking at our [current code](https://ap-web-components.netlify.app/?path=/story/contract-editor--contract-editor), it is already the way you describe the solution.

[2021-02-12 14:35] irmerk commented on #178
Yes @sanketshevkar I don't think they will have "Embedded" in the title.

[2021-02-15 09:01] K-Kumar-01 commented on #242
@Michael-Grover
I would like to have a go at issue as I am guessing I figured out the problem.

[2021-02-15 10:05] K-Kumar-01 commented on #242
@Michael-Grover
I have created a PR for the problem. Let me know if the approach is right or if there are any changes required. :)

[2021-02-18 16:42] Michael-Grover commented on #179
I tested the bug and it was still happening on my computer, but then I updated Google Chrome and now the text cursor is showing up in the correct place 👍

[2021-02-18 16:42] #179 closed

[2021-02-20 13:26] naveen8801 commented on #54
hiii @irmerk   , can i work on this issue ?

[2021-02-20 14:02] K-Kumar-01 commented on #158
@Michael-Grover
The issue seemed inactive so I did some experiments on it and deduced the following things from it:
1. Selection of multiple paragraphs from top to bottom causes no bug.
2. Selection of multiple paragraphs from bottom to top causes bugs.

Selected from the top
![Screenshot from 2021-02-20 19-25-04](https://user-images.githubusercontent.com/59891164/108597940-99b34380-73b1-11eb-9878

[2021-02-20 14:10] dselman commented on #158
Nice analysis. I suggest you look at the code inside isList:

https://github.com/accordproject/web-components/blob/master/packages/ui-markdown-editor/src/utilities/toolbarHelpers.js

[2021-02-20 14:37] K-Kumar-01 commented on #158
@dselman
The console.logs() were made by changing the code inside the above-mentioned link.
As far as I can understand, this seems to be an issue of `slate` itself, though I am not sure about this.

[2021-02-20 14:54] gatij10 commented on #158
I observed that on selecting from bottom, initially the offset values of anchor and focus are swapped.
![Screenshot 2021-02-20 202333](https://user-images.githubusercontent.com/54245799/108599847-90c67000-73b9-11eb-9c41-7f361309a0d8.png)

[2021-02-20 17:06] rogdevil commented on #73
Hey, I would like to look into this issue. As it is included in GSoC too so it would be a good start

[2021-02-20 18:29] K-Kumar-01 commented on #158
@dselman @Michael-Grover
I had opened a pull request. Let me know if there are any changes required.

[2021-02-21 05:01] Udbhavbisarya23 commented on #87
@DianaLease @irmerk @dselman If this is still an issue, can i be assigned to this?

[2021-02-21 10:22] gatij10 commented on #54
Is this issue still open? May I solve the bug ?

[2021-02-21 10:22] gatij10 commented on #54
@irmerk Is this issue still open? May I solve the bug ?

[2021-02-22 19:12] gatij10 opened #255 "Quotes icon not working."
If the user highlights a paragraph or a group of paragraphs and clicks the quotes icons, the paragraphs are just indented, but not wrapped in quotes.
# Bug Report 🐛

## Expected Behavior

On clicking the quotes button, the text or selected paragraph should be wrapped inside quotes.

## Current Behavior

Below is link to the recorded video of the current behavior.
https://www.loom.com/share/8bcb3f2

[2021-02-22 19:29] irmerk commented on #255
I believe this is a design choice in the Storybook (consumer of the `ui-markdown-editor`). We can adjust this in the props we give the editor in Storybook.

[2021-02-22 19:45] irmerk commented on #158
@K-Kumar-01 and @gatij10 I think it makes sense to resolve which PR you two want to use.

[2021-02-23 04:32] K-Kumar-01 commented on #158
@gatij10
There was already a PR made by me. So I request you to please close your PR

[2021-02-23 04:39] gatij10 commented on #158
@K-Kumar-01 Your PR failed in the netlify build, that's why I created a new PR.

[2021-02-23 04:42] K-Kumar-01 commented on #158
@gatij10
That is fixable. I would request you to please close down your PR.

[2021-02-23 04:55] gatij10 commented on #158
okay

[2021-02-23 05:01] hemant767 opened #256 "Lerna install permissions issue on Ubuntu 20.0x"
When I used to run it locally in my ubuntu system it was giving me error.
# Bug Report 🐛

## Expected Behavior
Following the steps in the read me to run locally ,it should have run fine .
## Current Behavior
But now it's giving error in the ubuntu system.
## Possible Solution
In the steps to run it locally ,we should include one more step .We should first initialise lerna by lerna init.

## Steps

[2021-02-23 05:08] hemant767 commented on #256
[``](

- [ ] ### url

)

[2021-02-23 05:41] d-e-v-esh commented on #255
Yes, but it looks a bit buggy. Isn't it?

[2021-02-23 07:06] gatij10 commented on #255
@irmerk
I have opened a pull request. Let me know if there are any changes required.

[2021-02-23 07:27] K-Kumar-01 commented on #158
Thank you

[2021-02-23 07:30] d-e-v-esh commented on #255
@gatij10  I did the exact same thing in my local app but seems like whatever I do from commenting out entire pages of code to deleting important lines does nothing to affect the actual running of the app. Am I doing something wrong? Do you have any idea what could be the problem?

[2021-02-23 07:32] gatij10 commented on #255
@d-e-v-esh you have to run the build command after you make the changes.

[2021-02-23 07:39] d-e-v-esh commented on #255
@gatij10
``lerna run build``
This command? Every single time?

[2021-02-23 09:33] gatij10 commented on #54
@irmerk I have opened a PR for this issue. Let me know if there are any changes required

[2021-02-23 09:44] d-e-v-esh opened #259 "Direct Page Break Does Not Work"
# Bug Report 🐛

When we click on the page-break icon, it adds ``---`` in the markdown panel as the page break. But when we directly write ``---`` on the editor then page break doesn't work.

## Expected Behavior
Writing ``---`` should  add a page break on the editor

## Current Behavior
Writing ``---`` doesn't create a page break. It just writes it as it is.

## Possible Solution

It would be very

[2021-02-23 12:12] dselman commented on #259
I've marked this as an enhancement, because in general markdown syntax is not converted to formatted text. You could consider whether it would be more appropriate to add a keyboard hotkey for this instead (consistent with CTRL-B etc used for formatting). Perhaps looking at GDocs or Office 365 will give some inspiration?

[2021-02-23 12:34] #242 closed

[2021-02-23 12:38] dselman commented on #256
I don't understand why `lerna init` would have anything to do with OS permissions; it is usually used to create a new lerna monorepo.
https://github.com/lerna/lerna/tree/main/commands/init#readme

Are you sure that installing lerna using sudo was not enough to fix your permissions issue?

[2021-02-23 12:43] #54 closed

[2021-02-23 12:50] d-e-v-esh commented on #259
@dselman That is very true. But there is already a keyboard shortcut assigned to that task. When you go and hover over the Page Break icon, it will show that the shortcut for that is  ``ctrl + enter`` but that is not working either for some reason.  I'm looking into it for quite some time, I will try to find a solution if I can.

[2021-02-23 13:32] #158 closed

[2021-02-23 13:37] d-e-v-esh opened #260 "🐛 insertHeadingbreak Bug"
# Bug Report 🐛

The cursor would jump one line above when we would press enter from the beginning of any heading text

![r91hU4x2ti](https://user-images.githubusercontent.com/59534570/108851223-36701e00-760a-11eb-8a6a-38c252ce60b6.gif)

## Expected Behavior

The cursor should go down with the heading text as it happens everywhere else

## Steps to Reproduce
1. Put the cursor to the beginning of an

[2021-02-23 14:04] irmerk commented on #259
Pinging @Michael-Grover on this.

[2021-02-23 14:30] #178 closed

[2021-02-23 18:41] Michael-Grover opened #263 "Page break shortcut does not work consistently"
# Bug Report 🐛
Using the shortcut for creating a page break (command or control + enter) only works when creating a page break after a heading.

## Expected Behavior
Pressing the page break keyboard shortcut should have the same effect as clicking on the page break icon. Whenever clicking on the page break icon can create a page break, pressing the keyboard shortcut should be able to as well.

##

[2021-02-23 18:42] Michael-Grover commented on #259
I agree with Dan. I think fixing the shortcut is a higher priority than this enhancement. I created an issue for the shortcut bug: https://github.com/accordproject/web-components/issues/263

[2021-02-23 19:01] K-Kumar-01 opened #265 "Linting"
# Discussion 🗣

The current codebase has many linting issues.

## Detailed Description

Many of the files in the codebase are not properly linted.

### Do you want to work on the issue?
Yes

[2021-02-23 19:15] Michael-Grover commented on #255
I don't think there is a bug here. The existing behavior is intended. There should be no quotation marks around the text. People that use accord project components can customize the styling of the block quotes. For example, in Clause's implementation of the Accord Project Contract Editor, block quotes are rendered like this:

![image](https://user-images.githubusercontent.com/40569793/108895271-5e

[2021-02-23 19:15] K-Kumar-01 commented on #263
@Michael-Grover
I would like to have a go at the issue.

[2021-02-23 19:23] gatij10 commented on #255
@Michael-Grover the on clicking the quotes button, the text is just getting intended, even the vertical line is not visible.

[2021-02-23 19:25] Michael-Grover commented on #255
I looked into different ways that documents show block quotes, and it looks like an indentation is sufficient to show a block quote. Some documents show block quotes with just an indentation, some use an indentation and a vertical line, some use an indentation and change the color of the text, etc. I think what we do currently works: going with the simplest option and allowing consumers of this co

[2021-02-23 19:27] gatij10 commented on #255
@Michael-Grover Okay.

[2021-02-23 19:31] Michael-Grover commented on #263
@K-Kumar-01 thanks, I've assigned it to you

[2021-02-23 19:32] Michael-Grover commented on #255
@K-Kumar-01 yeah that sounds good, thanks

[2021-02-23 19:46] K-Kumar-01 commented on #255
@Michael-Grover
I think you have wrongly tagged me. :grimacing:

[2021-02-23 20:00] Michael-Grover commented on #263
@K-Kumar-01 , I forgot that @d-e-v-esh mentioned they already [started looking into this issue](https://github.com/accordproject/web-components/issues/259#issuecomment-784178888). Before you start on this, let's see if @d-e-v-esh would like to finish it.

[2021-02-23 20:02] Michael-Grover commented on #255
@K-Kumar-01 yes that was a mistake. I've been bouncing around a bunch of different issues today.

[2021-02-23 20:02] #255 closed

[2021-02-24 06:46] hemant767 commented on #256
No ,whenever I run it without initialising lerna on ubuntu (as I don't use windows),I get error .To confirm this I ran this repo about 3 times without initialisng which in result given error but after initialising lerna It works fine.

[2021-02-24 08:25] d-e-v-esh commented on #263
@Michael-Grover I would like to really like to finish it. I looked into it for quite some time now. I'll tell you if I need some help.

[2021-02-24 08:26] Udbhavbisarya23 commented on #87
The z-index of the tooltip is 99 and that of the toolbar is 10.
I believe this issue can be fixed by removing the z-index of the formatting toolbar or by adding a position and z-index property to the text editor.

[2021-02-24 09:54] dselman commented on #256
Can you please run 'lerna --version' before and after you run 'lerna init'?

Also does package.json get modified?

[2021-02-24 16:08] Michael-Grover commented on #263
@d-e-v-esh I've assigned it to you now, thanks 👍

[2021-02-24 18:42] K-Kumar-01 commented on #137
@Michael-Grover
I would like to give it a try.

[2021-02-24 19:29] irmerk commented on #248
Closed due to discussion in #249

Useful to discuss possible solutions before trying to implement.

[2021-02-24 19:29] #248 closed

[2021-02-24 19:32] irmerk commented on #265
I think this shouldn't be addressed until https://github.com/accordproject/techdocs/issues/308 has been resolved and we have a plan going forward.

[2021-02-24 19:32] #265 closed

[2021-02-24 19:34] irmerk commented on #87
Hmm, unsure why the toolbar would need an index, I don't think it will need to be on top of anything else.

[2021-02-24 20:47] Michael-Grover commented on #137
@K-Kumar-01 thanks, I've assigned it to you. Let me know if you need a mockup in invision, or if the screenshot is sufficient

[2021-02-25 06:42] hemant767 commented on #256
Actually sudo fixed my permission issue but without lerna init it didn't work.And version and package.json remains same .Why version of lerna and package.json  would  change after and before initialising lerna ?It's obvious that it will remain same.

[2021-02-25 08:39] K-Kumar-01 commented on #137
@Michael-Grover
I have some doubts related to this issue.

Original Image
![Screenshot from 2021-02-25 14-02-30](https://user-images.githubusercontent.com/59891164/109125529-2c692f00-7772-11eb-80e8-032df5ac9d35.png)
Some changes in the css styles of dragwrapper(Causing the template to look a bit smaller than above)
![Screenshot from 2021-02-25 14-02-25](https://user-images.githubusercontent.com/59

[2021-02-25 11:10] gatij10 commented on #120
@Michael-Grover is this issue still open? I would like to work on it.

[2021-02-25 13:15] irmerk commented on #120
@gatij10 test it out in the live Storybook and see if the issue still exists.

[2021-02-25 16:25] gatij10 commented on #120
@irmerk I tested it out in the live storybook, looks like the issue still exists. I will try to solve it.

[2021-02-25 17:50] hemant767 commented on #256
I am sorry but now , i didn't use lerna init and it ran fine.

[2021-02-25 17:50] #256 closed

[2021-02-25 18:44] d-e-v-esh opened #267 "Soft Break not Working => Line Break and Soft Break are interchanged in the code"
# Bug Report 🐛

The soft brake was confused with the line break (i.e. hard break) in the code
This was also causing issue #263
There was no actual functional ``linebrake``, just a ``headingbrake`` with a restriction on the paragraph so it doesn't mess up anything when called from a paragraph. For this reason, the soft break was not working.

You can see this when you open up the demo and it appear

[2021-02-25 18:58] dselman commented on #267
I think the terminology here may be causing confusion.

**Softbreaks** in the markdown specification are typically rendered as spaces in HTML:
6.10 Soft line breaks https://spec.commonmark.org/0.29/

Pressing ENTER in the editor should create a new paragraph.

Pressing SHIFT-ENTER (sometimes called a soft break in editors!) should create a newline. The markdown specification calls this a hard line

[2021-02-25 19:02] d-e-v-esh commented on #267
@dselman That is true, the terminology is definitely a little confusing.

[2021-02-25 20:49] Michael-Grover commented on #137
I think making the space between the drag-and-drop buttons more like this (image) will be enough to close this issue. I think very short clauses having some extra space at the bottom will be unavoidable, but at least we can reduce the extra space.

![image](https://user-images.githubusercontent.com/40569793/109215267-eebfd280-7780-11eb-9b7e-c6a34bcd2329.png)

[2021-02-25 21:10] Michael-Grover commented on #137
@K-Kumar-01  you mentioned changing more styles, do you have anything in mind?

[2021-02-26 08:37] #87 closed

[2021-02-26 08:41] dselman commented on #10
@DianaLease would you have cycles to pick this one up, now that we have updated Concerto?

[2021-02-26 16:57] d-e-v-esh opened #269 "Blank Lines Cannot Get Copied and Pasted"
# Bug Report 🐛

When we copy a block of text from one place to another, the text is copied properly but the blank lines between them are not getting copied. This makes formatting more annoying.

## Expected Behavior

![Osf0jOE0xw](https://user-images.githubusercontent.com/59534570/109325659-34ad9100-787c-11eb-8793-4c34a977f041.gif)

## Current Behavior

![AkPqpXwcp8](https://user-images.githubuser

[2021-02-26 17:13] Michael-Grover commented on #269
@irmerk @jeromesimeon is this because markdown doesn't preserve white space?

[2021-02-26 17:14] Michael-Grover commented on #269
It's my understanding that if a user were able to save this document and reopen it, any white space like line breaks would be removed when the document is reopened

[2021-02-26 17:16] jeromesimeon commented on #269
I am not sure. This could be an artefact of markdown (there is no way to create random space between paragraphs), or a bug in copy paste. This might need investigation.

[2021-02-26 17:20] d-e-v-esh commented on #269
@jeromesimeon I think it was probably because of how the line was being created. I did some tests and now it works fine.

[2021-02-27 05:52] K-Kumar-01 commented on #137
@Michael-Grover
I have tried some more styling. The images are as follows:
![Screenshot from 2021-02-27 11-17-34](https://user-images.githubusercontent.com/59891164/109376878-71fe3700-78ed-11eb-8d14-e94146676253.png)
![Screenshot from 2021-02-27 11-04-06](https://user-images.githubusercontent.com/59891164/109376883-77f41800-78ed-11eb-9e18-e346bd01a75f.png)
![Screenshot from 2021-02-27 11-03-52](ht

[2021-02-27 06:44] K-Kumar-01 opened #271 "Delete Icon Of Templates Not Working"
# Bug Report 🐛
Click on Delete Icon is not working when the cursor hovers over clause templates.
Package: Contract Editor

## Expected Behavior

The template should get deleted.

## Current Behavior

There is no deletion of the template.

## Steps to Reproduce

1. Hover any template
2. Click on delete icon

## Context (Environment)

### Desktop
 - OS: ZorinOs(Ubuntu based)
 - Browser: Chrome
 - Ve

[2021-03-01 11:26] dselman commented on #73
I have updated the description to include a couple of links to code that could be a useful starting point for investigation.

[2021-03-01 16:43] sanketshevkar commented on #14
Can I start working on this?

[2021-03-01 17:11] irmerk commented on #269
We'll need to do a thorough investigation on all of this to see what is going on, the limitations, and what these changes do.

[2021-03-01 17:47] dselman commented on #269
Copy/paste uses the Slate <--> CiceroMark <--> HTML transformation, so it is likely that markdown insignificant whitespace is getting dropped.

[2021-03-01 18:06] dselman commented on #269
Using this input Slate document:

[code]

And running:

[code]

The following HTML is produced:

[code]

Showing that the Slate paragraph containing an empty text node got removed during the transformation from Slate to `ciceromark_parsed`.

[2021-03-01 18:10] d-e-v-esh commented on #269
@dselman  What should be the proper solution to this?

[2021-03-01 19:38] dselman commented on #269
This line removes empty paragraphs when converting from Slate to CiceroMark:

https://github.com/accordproject/markdown-transform/blob/f68f7a33dece4d106c6a17a698b1f411441ef0d9/packages/markdown-slate/lib/slateToCiceroMarkDom.js#L86

While this handles the conversion from CiceroMark to Slate:

https://github.com/accordproject/markdown-transform/blob/master/packages/markdown-slate/lib/ToSlateVisitor

[2021-03-02 11:33] K-Kumar-01 commented on #137
@Michael-Grover
any updates here?

[2021-03-02 14:48] Michael-Grover commented on #137
I agree the first one looks the best, but it looks like the dots are off-center
![image](https://user-images.githubusercontent.com/40569793/109665649-65235280-7b3c-11eb-8078-bad41fe8d5da.png)

[2021-03-02 15:56] irmerk commented on #271
This is likely an issue with how the icon is used in our Storybook.

[2021-03-02 15:59] irmerk commented on #269
@dselman that sounds like something that needs to come from [`@accordproject/markdown-transform`](https://github.com/accordproject/markdown-transform)?

[2021-03-02 16:14] dselman commented on #269
Agreed. I will move the discussion to this issue: https://github.com/accordproject/markdown-transform/issues/362

[2021-03-02 18:02] sanketshevkar commented on #14
![Screenshot from 2021-02-15 21-47-01](https://user-images.githubusercontent.com/43399522/109693047-34c8cc00-7baf-11eb-8fee-8940049c788d.png)

@irmerk I'm not able to find the code for this test.

[2021-03-02 18:03] K-Kumar-01 commented on #137
@Michael-Grover
I changed some SVG styling so it might be the case. If the dots are centered, then can we go with this one?

[2021-03-02 18:03] sanketshevkar commented on #14
![doubt](https://user-images.githubusercontent.com/43399522/109693402-9e48da80-7baf-11eb-9efb-2c3b47b70bb1.png)
@irmerk I'm not able to find the code for this test.

[2021-03-02 18:14] Michael-Grover commented on #137
@K-Kumar-01 that sounds good, thanks 👍

[2021-03-02 19:08] K-Kumar-01 commented on #137
@Michael-Grover
It is the latest styling change which I applied.
![Screenshot from 2021-03-03 00-37-03](https://user-images.githubusercontent.com/59891164/109701102-a6594800-7bb8-11eb-803b-c5863825acb9.png)
Should I open the PR with this one?

[2021-03-02 19:13] irmerk commented on #14
@sanketshevkar none of these tests currently exist. The Issue is for creating them.

[2021-03-02 19:16] sanketshevkar commented on #14
No problem, the checkbox was checked, that's why I thought so.

[2021-03-02 19:17] irmerk commented on #14
OH! Yeah I don't know why that is, that must've been a mistake on my part sorry about that.

[2021-03-02 19:18] K-Kumar-01 commented on #27
@irmerk
Can we use `<ins>` HTML tag for this purpose. I used it on template-dingus and it worked there
![Screenshot from 2021-03-03 00-44-11](https://user-images.githubusercontent.com/59891164/109701966-a4dc4f80-7bb9-11eb-9602-4d2d076b717a.png)
Though I am not sure about this but as we will wrap the text in HTML I don't think it would cause any issue as it is supported by markdown itself.

[2021-03-02 19:36] jeromesimeon commented on #27
We shouldn't depend too much on HTML tags since we convert contracts to other formats: e.g., pdf, docx. It would be better to use a proper underline extension as @dselman suggested in a previous comment.

For instance: https://www.npmjs.com/package/markdown-it-plugin-underline

Not sure underline is our most pressing requirement though.

[2021-03-02 21:31] Michael-Grover commented on #137
Yeah, that looks good for a PR

[2021-03-02 22:37] DianaLease commented on #10
Sure thing! To make sure I understand the issue - wherever we use the native Date object to create dates in concerto-ui, we instead want to create dayjs date objects since that's what we ended up using in Concerto, correct?

[2021-03-02 22:38] jeromesimeon commented on #10
yep!

[2021-03-03 03:25] DianaLease commented on #10
@dselman @jeromesimeon Looking into this more, I'm not sure it's actually necessary to introduce dayjs the way the current `concerto-ui` code is implemented (a bit has changed since this issue was first opened). As far as I can tell, we only use the native Date object in these two places:

Here we use it to get the ISO string, so we are just using the string, not the object.
https://github.com/acc

[2021-03-03 05:55] d-e-v-esh commented on #260
@irmerk This problem is occurring because:
When we press enter from the start of the heading word => it inserts a line above the heading line by default instead of below.
This only happens when we insert from the start of the line. It works perfectly when we do it from the middle or the end of the heading word.
The fix for this can be:
1. Whenever ``headingbreak`` is called => the next line node i

[2021-03-03 07:16] d-e-v-esh opened #274 "Contract Editor link not Working in Readme"
# Bug Report 🐛

The main readme file in web-components has a typo. The link that goes to the Contract Editor repository in readme does not work.

![Inkedchrome_Yca0SAo7si_LI](https://user-images.githubusercontent.com/59534570/109767520-ab041780-7c1d-11eb-9e6a-be3f9e5ee3f6.jpg)

## Expected Behavior

It should link to the contract editor repository
## Current Behavior

It returns a page not found.

[2021-03-03 09:44] d-e-v-esh opened #276 "Styles block not updating as we move our cursor"
# Bug Report 🐛

(Package: Markdown Editor)
The styles block that shows the current styling (``H1``, ``H2``, ``Normal Text``, etc.) does not get updated with the move of our cursor. It only updates when we start writing inside that block. This is not the case in editors like google docs. They update the styling bar as the cursor moves. This might get very annoying when we try to find the styling of

[2021-03-03 11:17] K-Kumar-01 commented on #137
@Michael-Grover
I have opened a PR. Let me know if there are any changes required.

[2021-03-03 15:02] jeromesimeon commented on #10
ok that's actually interesting. In my mind we should either consistently use an object or consistently use a string. Maybe what you're suggesting is that we should use `Date.now().toISOString()` in the second call listed?

(Apologies: I haven't really looked at this in details again, so I'm not even sure if I remember why I opened this issue)

[2021-03-03 18:15] K-Kumar-01 commented on #197
@jeromesimeon @dselman @irmerk
https://github.com/accordproject/web-components/blob/8e39155f3c39909867303ac1b399136aafe93028/packages/ui-contract-editor/src/ContractEditor/plugins/withClauses.js#L98
I did some research and found that line `98-123` may be the reason for this issue. The link is mentioned above. I commented out the lines and built the package and here is the result
https://www.loom.c

[2021-03-03 19:00] K-Kumar-01 commented on #197
@dselman @irmerk @jeromesimeon
The main difficulty which we face here as I can understand is unable to differentiate the complex data type fields which are converted into fields with the same name. I was able to come up with two solutions:
1. If we have complex field types then can we start naming them as `name-${i}` where ${i} is the index of how many such fields already exist. Basically, it will

[2021-03-03 19:08] K-Kumar-01 commented on #27
@jeromesimeon @irmerk
Since the priority is not pressing I would have a go at other issues then.

[2021-03-03 19:13] sanketshevkar commented on #14
I'm writing the interaction tests using [cypress.](https://www.cypress.io/) The storybook documentation also suggested using enzyme or cypress for [interaction testing](https://storybook.js.org/docs/react/workflows/interaction-testing/). Also setting up enzyme within storyshots was a bit complicated so decided to use cypress which is working fine. I did some dummy tests with the web-components sto

[2021-03-04 11:37] d-e-v-esh commented on #276
@Michael-Grover I would like to work on this issue.

[2021-03-04 12:31] d-e-v-esh commented on #276
![fcXbp2C2D0](https://user-images.githubusercontent.com/59534570/109963353-51c9e000-7d12-11eb-9511-bddd688d0f44.gif)
---
@Michael-Grover I have almost fixed the problem by calculating the result(current block) in the ``onChange`` function. The style block does not respond to ``Heading 4``, ``Heading 5``, and ``Heading 6`` as they are already not listed in the dropdown menu. Are those text styles g

[2021-03-04 15:10] irmerk commented on #260
If I understand correctly, I think that sounds good. I think we want:

- <kbd>ENTER</kbd> at BEGINNING of node (where ↑ is) creates a new line of the same text:
[code]
[code]
Becomes this with the cursor (↑) positioned:
[code]
[code]
---
- <kbd>ENTER</kbd> at MIDDLE of node (where ↑ is) creates a new line of similar text, essentially splitting the node:
[code]
[code]
Becomes this with the cursor (

[2021-03-04 15:17] Michael-Grover commented on #276
I think there's a reason for having h4-h6 but I'm not sure. @DianaLease or @irmerk do you remember? I think we have h4-h6 because markdown usually has those header styles, and if people import markdown text that includes h4-h6, we don't want the document to break.

[2021-03-04 16:22] #274 closed

[2021-03-04 16:27] irmerk commented on #14
This approach doesn't strike me as wrong so far, so yeah let's see how this progress goes. Storybook suggesting Cypress is a good sign that it would be a good approach.

[2021-03-04 16:31] irmerk commented on #276
I don't recall the reason for omitting H4-H6. My best guess is it was purely design based. But we're based off the [CommonMark spec](https://spec.commonmark.org/0.29/#atx-headings), which does support H1-H6. Is there any limitation in `markdown-transform` @dselman or @jeromesimeon?

[2021-03-04 16:38] #137 closed

[2021-03-04 16:42] Michael-Grover commented on #276
My reasoning for omitting H4-H6 in the dropddown is because the size difference between the six different headers and one paragraph style would be practically indistinguishable from each other unless the H1 was comically large (which it used to be). By having fewer header styles, we can be sure that they are each visually distinct from each other

I would be interested in a lawyer's opinion about

[2021-03-04 16:45] irmerk commented on #276
My thought would be that would be up to the individual lawyer using the editor, and that person can choose to use H5 or not based on the styling. If we are based on the CommonMark spec, we should support the CommonMark spec.

[2021-03-04 16:50] Michael-Grover opened #278 "Paragraph styling options obscured by Clause Template"
# Bug Report 🐛
Paragraph styling options are obscured by Clause Template
![image](https://user-images.githubusercontent.com/40569793/109998645-70fb4a00-7cdf-11eb-9368-2f1cbdff66b4.png)

## Expected Behavior
the paragraph styling options dropdown should be in front of all content so that users can choose their styling option.

## Current Behavior

## Possible Solution
Change the Z-index of some ele

[2021-03-04 17:01] Michael-Grover commented on #276
Jira uses six heading styles, and they choose to make H4-H6 smaller than the paragraph text, which seems kind of weird to me. I'm not sure how many contract authors will want headings that are smaller than the paragraph text. However I think I prefer their approach versus making all of the headings styles a size between H1 and paragraph, meaning that they will be very similar in size and visually

[2021-03-04 17:31] sanketshevkar commented on #14
https://www.loom.com/share/b128d0a885694420bf4d55edda57ab73
Video for cypress test.
1. Places cursor inside the paragraph:

2. Changes it to Header 2.
3. Undo
4. Redo

[2021-03-04 17:47] sanketshevkar commented on #14
@irmerk what is the difference between

[2021-03-04 17:51] irmerk commented on #14
Very cool. I haven't used Cypress before. It looks like we'll want to set up an [OSS plan](https://www.cypress.io/oss-plan) with them ([instructions](https://docs.cypress.io/guides/core-concepts/dashboard-service.html#Open-Source-Plan)) and implement this in [GitHub Actions](https://docs.cypress.io/guides/continuous-integration/github-actions.html#Cypress-GitHub-Action) for this repo.

These two y

[2021-03-04 17:58] irmerk commented on #14
I put in a request to Cypress. If approved, Cypress will provide AP with a plan that allows unlimited test recordings and up to 5 users. All projects we create in the Cypress Dashboard will be public. Data will be retained for 90 days. Our organization will have access to all the features the Cypress Dashboard provides, including parallelization.

CC: @jeromesimeon @DianaLease @dselman @mttrbrts @

[2021-03-04 17:59] irmerk commented on #14
I think just continue on @sanketshevkar, I'm opening another Issue to track setting up Cypress for this repo.

[2021-03-04 18:03] sanketshevkar commented on #14
@irmerk That sounds great. Should I create a pr for cypress setup and then start working on the tests?

[2021-03-04 18:06] irmerk opened #279 "Cypress Testing Integration"
# Feature Request 🛍️
We should integrate Cypress with our CI/CD pipeline for `web-components`

## Use Case
This will allow us a front end testing tool for end-to-end, integration, and unit tests

## Possible Solution
Implement [GitHub Actions integration](https://docs.cypress.io/guides/continuous-integration/github-actions.html#Cypress-GitHub-Action) for this testing. An overall [guide is located

[2021-03-04 18:07] irmerk commented on #14
What would that involve @sanketshevkar?

[2021-03-04 18:18] sanketshevkar commented on #14
Basically has two parts:
1. Setting up cypress on your local machine.
2. Setting up cypress within your project, which is a simple npm install command, update scripts in package.json, after running the test for the first time it sets up a cypress folder with some sample tests. I'll delete the example tests within the cypress folder and create a file for markdown-editor test.

[2021-03-04 18:21] irmerk commented on #14
Yeah I think that works

[2021-03-04 18:23] irmerk commented on #276
@Michael-Grover could you create a separate issue for the H1-H6 topic?

@d-e-v-esh I think you can continue on with what currently exists (H1-H3) and get a solution that will work with whatever comes from the H1-H6 Issue.

[2021-03-04 18:46] Michael-Grover opened #280 "Discuss how many heading options should be in the markdown editor and contract editor"
In the markdown editor UI, users can currently choose three heading styles (H1, H2, H3), however markdown allows for 6 heading styles. The team needs to decide whether this many styles is necessary for editing contracts. I suggest discussing the topic at the Technology Working Group Call on March 10th so that we can have the input of engineers and lawyers.

## Context
The issue was discussed a bit

[2021-03-05 08:57] K-Kumar-01 commented on #278
@Michael-Grover
I would like to work on this issue

[2021-03-05 10:18] K-Kumar-01 commented on #278
@Michael-Grover
I am unable to reproduce the issue. I am on Linux and google chrome. It seems to be working fine here.
![Screenshot from 2021-03-05 15-46-13](https://user-images.githubusercontent.com/59891164/110101728-f4916580-7dc9-11eb-9796-7c3da2abb4d0.png)

[2021-03-05 15:26] d-e-v-esh commented on #260
Yes, that is exactly how it needs to work. I can make a sample work but making a PR would not make sense until we fix this #270 issue.

[2021-03-05 18:15] Michael-Grover commented on #278
@K-Kumar-01 interesting. I just confirmed and was able to reproduce the bug on my computer (Macbook pro, Big Sur, Chrome)

@irmerk @dselman @DianaLease  are you able to reproduce this?

[2021-03-05 18:18] Michael-Grover commented on #278
@rkotangoor test

[2021-03-05 18:18] sanketshevkar commented on #14
@irmerk I've made a pull request with the cypress setup.

[2021-03-06 06:52] K-Kumar-01 commented on #197
@jeromesimeon @dselman @irmerk
Any thoughts on the above approach?

[2021-03-06 07:27] K-Kumar-01 commented on #46
@Michael-Grover @irmerk
Is the issue still open?
I tried copy-pasting but was unable to replicate the issue. I am attaching a video below.
https://www.loom.com/share/f488267401f1460da06e0092699898a4

[2021-03-06 09:03] K-Kumar-01 commented on #30
@jeromesimeon @irmerk
Did some work to add the feature.
Here is a recording.
https://www.loom.com/share/62bb77b0139f4bdbbd0e292560b263f2

Some things to be noted:
1.The icon used was of `code` as I don't know about the code blocks icon.
2.There is no change in the markdown syntax which comes below. (Need some help with that).
3. using "```" in native markdown does not render the code block. (Inter

[2021-03-07 05:12] d-e-v-esh commented on #278
@Michael-Grover I am able to reproduce this bug. Should I look into it?
![crop prob](https://user-images.githubusercontent.com/59534570/110229754-b8791480-7f31-11eb-89ab-0722990931be.png)

[2021-03-07 05:49] K-Kumar-01 commented on #278
@d-e-v-esh
Could you please tell the system and platform you ate working on?

[2021-03-07 06:58] d-e-v-esh commented on #278
@K-Kumar-01 Actually now when I look at it. I can't reproduce it locally either. It only occurs in the Storybook demo online.

[2021-03-07 07:08] d-e-v-esh commented on #271
@irmerk I don't think that the edit button works either. That button is supposed to let us edit the contract, isn't it?

[2021-03-07 16:53] lokeshn011101 commented on #271
I am trying to resolve this!

[2021-03-07 18:32] DianaLease commented on #10
@jeromesimeon The value of timestamp there is a number (`typeof Date.now() === "number"`). But if we wanted to make it a string to be consistent we could do `new Date().toISOString()` like we do in `ui-concerto/src/utilities.js`. When I do that while running storybook locally and add a DateTime field to the concerto form demo, everything seems to work fine. However, I can't really figure out how `

[2021-03-07 19:20] codetheorem commented on #271
Addon action 'delete' is working as it is showing it in the action console.

[2021-03-08 04:50] d-e-v-esh commented on #271
@lokeshn011101 What do you think that the problem is?

[2021-03-08 05:54] d-e-v-esh commented on #271
I can't seem to find where these 3 functions are defined in the code nor the main props of the application. I am not sure if these three functions are defined yet.
![Code_Q6kl0n9ca2](https://user-images.githubusercontent.com/59534570/110278353-1a528080-7ffd-11eb-9149-7a54f655bc43.png)

The only thing that I could find yet is [this](https://github.com/accordproject/web-components/blob/b6ccb71ca4e10

[2021-03-08 08:23] d-e-v-esh opened #284 "Linebreak in lists do not work correctly"
# Bug Report 🐛

When we press Enter in the middle of a sentence inside of a list, instead of pushing the rest of the sentence to the new line, it inserts a new line and then pushes the rest of the sentence to the new line which creates an extra unneeded line that can be very annoying at times for the user.

## Expected Behavior

It should push the rest of the text to the next number without insert

[2021-03-08 11:07] dselman commented on #271
This is working as designed -- these functions can be supplied by the user of the component. They are not implemented by default because they typically require interaction with other components or the persistence layer of the embedding application.

[2021-03-08 11:17] #276 closed

[2021-03-08 13:31] Michael-Grover commented on #278
@d-e-v-esh thanks, I've assigned it to you 👍

[2021-03-08 17:22] K-Kumar-01 commented on #284
@dselman
I looked into the issue and here I am facing some difficulties.
[code]

On pressing the Enter key there is no console.log():
On pressing other keys(not hotkeys) there is console.log();
On pressing shortcut(hotkeys) keys, there is console.log() both times.

![Screenshot from 2021-03-08 22-08-22](https://user-images.githubusercontent.com/59891164/110352182-9ed3ec00-805b-11eb-8814-30e1df34c6

[2021-03-08 19:57] Michael-Grover commented on #46
@K-Kumar-01 I can no longer replicate the issue. Thanks for pointing out.

[2021-03-08 19:57] #46 closed

[2021-03-09 02:06] d-e-v-esh commented on #284
@K-Kumar-01  That is because of this line here
[code]
It basically means that if you are on a non-heading block and you press enter then everything should be ignored. I have detailed this issue and its solution in this pull request here #270
This problem is causing few other problems in the issues list.

[2021-03-09 15:12] irmerk commented on #279
My request:

Response to my request:

[2021-03-09 19:59] Hanaffi commented on #73
@dselman Can you assign this to me?

[2021-03-09 20:00] Hanaffi commented on #73
@dselman @irmerk @DianaLease  Can you assign this to me?

[2021-03-10 08:32] d-e-v-esh commented on #260
@irmerk Can you please check the updates that I made in the description of #270. Any feedback would be really appreciated.

[2021-03-10 12:07] Cronus1007 commented on #278
@d-e-v-esh Shall I look into this issue .

[2021-03-10 12:08] Cronus1007 commented on #52
@irmerk Shall I work upon this issue.

[2021-03-10 12:12] Cronus1007 commented on #279
@irmerk Shall I work upon this issue .

[2021-03-10 12:29] Cronus1007 commented on #14
@irmerk @sanketshevkar Cypress testing only deals with the automated testing software for e2e whereas there is a need to lay down the setup for unit testing as well.

[2021-03-10 13:49] Cronus1007 commented on #284
@d-e-v-esh Shall I work upon this issue.

[2021-03-10 13:56] Cronus1007 opened #286 "Document Javascript Coding Guidelines"
# Problem Description 🗣

1. Lack of Javascript Coding Guidelines

 - reduces efficiency of communication and pull requests
 - sets new contributors up to fail
 - increases cognitive work of working across multiple repositories
2. Lack of .editorconfig and browserlist
3. Lack of proper test Cases (in the main directory)
-  Laying down a `test` folder consisting of both `e2e` and `unit`
4. Moving fr

[2021-03-10 15:04] Cronus1007 commented on #52
@irmerk I have checked the `package=markdown-editor` and the dependencies that didn't show up are `docz`,`rimraf` and `npm -run-all`.THese were stale dependencies.

[2021-03-10 17:14] K-Kumar-01 commented on #30
@jeromesimeon @irmerk
Requesting your review

[2021-03-10 20:14] jeromesimeon commented on #280
For reference:

CommonMark: 6 https://spec.commonmark.org/0.29/#atx-heading

https://templatemark-dingus.netlify.app/#md3=%7B%22source%22%3A%22%23%20one%5Cn%23%23%20two%5Cn%23%23%23%20three%5Cn%23%23%23%23%20four%5Cn%23%23%23%23%23%20five%5Cn%23%23%23%23%23%23%20six%5Cn%23%23%23%23%23%23%23%20seven%5Cn%22%2C%22defaults%22%3A%7B%22templateMark%22%3Atrue%2C%22ciceroMark%22%3Afalse%2C%22html%22%3Atru

[2021-03-10 20:20] irmerk commented on #279
@mttrbrts and I are looking into this at the moment.

[2021-03-10 20:53] irmerk commented on #14
What do you propose @Cronus1007?

[2021-03-10 20:55] irmerk commented on #284
I suspect we hold off on this Issue specifically until #270 is finished and then see where we stand.

[2021-03-10 21:00] Cronus1007 commented on #14
@irmerk The `Jest`  will be the best open source tool for unit testing of `React Web Apps` but I highly prefer a combined `mocha` and `chai` for the testing of js applications.

[2021-03-10 21:06] Cronus1007 commented on #286
@irmerk These are seperate issues. This issue has to be implemented into several bits and can make the repository code much organized and maintainable.

[2021-03-10 21:55] Michael-Grover commented on #280
Based on the tech WG call on March 10, it's my understanding that we are including all 6 headers in the style dropdown, and leaving it up to the consumer of the component how they want to style those headers.

[2021-03-10 21:55] #280 closed

[2021-03-10 22:03] Cronus1007 commented on #52
@irmerk So shall I start working upon this issue.

[2021-03-10 22:23] irmerk commented on #286
I think it would be great to create individual Issues for each of these then. It looks like 1, 2, 4, 5, and 6 should be in [the TSC](https://github.com/accordproject/technical-steering-committee/).

[2021-03-10 22:24] irmerk commented on #30
Should this support start in `markdown-transform` @jeromesimeon?

[2021-03-10 22:27] jeromesimeon commented on #30
We already support code blocks in the `markdown-transform`

The video looks nice. Sadly the bottom of the screen doesn't show the markdown for that part of the document (I don't think?) so it's difficult to say if what's in the editor gets properly translated to a markdown block.

@K-Kumar-01 This looks great. If you have another video, or maybe even better a PR we could evaluate your proposal bet

[2021-03-11 04:45] d-e-v-esh commented on #284
@irmerk Yes, I think that would be the best.

[2021-03-11 07:32] d-e-v-esh commented on #280
@Michael-Grover Should I start to work on including them in the main dropdown list? Should the `H1`, `H2`, and `H3` get bigger in size?

[2021-03-11 09:14] Cronus1007 commented on #65
@DianaLease Any updates regarding this issue.

[2021-03-11 10:52] d-e-v-esh opened #291 "onClick of Drop-down style menu dismisses selected text"
# Bug Report 🐛

When we have something selected and we want to change the styling, going to the style dropdown menu and clicking on it, deselects the selected text. Even though the menu is such that it would open up on hover, the rest of the buttons in the toolbar do not have this problem and it creates a bad user experience if it is clicked upon.

## Expected Behavior

Clicking on the dropdown me

[2021-03-11 11:12] Cronus1007 commented on #45
@irmerk Since the issue still exists so shall I take over this issue.

[2021-03-11 11:13] d-e-v-esh commented on #175
@dselman Can I work on this issue?

[2021-03-11 12:13] Cronus1007 commented on #45
@irmerk This issue doen't exist any more.

[2021-03-11 12:48] dselman commented on #175
Of course.

This is a challenging one I think, based on the preliminary analysis I did. I *think* the fix needs to go into the CiceroMark <-> Slate transformation in the `markdown-transform` repository.

Basically, if we hit one of the [Variable](https://github.com/accordproject/markdown-transform/blob/master/packages/markdown-slate/lib/ToSlateVisitor.js#L253) types and are inside a [ListBlock](ht

[2021-03-11 15:08] Cronus1007 commented on #142
@Michael-Grover It is working fine with Windows as well as Linux.This issue is specific to MacOs.

[2021-03-11 15:09] Cronus1007 commented on #53
@irmerk Shall I start work upon this issue.

[2021-03-11 15:23] Cronus1007 commented on #42
PLzzz provide a little more context for these steps.

[2021-03-11 15:40] d-e-v-esh commented on #175
Great, I'm looking into this. 👍

[2021-03-11 16:22] #45 closed

[2021-03-11 16:23] irmerk commented on #52
Could you please outline what you plan to change here before opening a PR?

[2021-03-11 16:23] irmerk commented on #53
Could you please outline what you plan to change here before opening a PR?

[2021-03-11 16:41] Michael-Grover commented on #42
I'm not able to replicate this bug (macbook, Google Chrome)

[2021-03-11 16:41] Michael-Grover commented on #42
It looks like the issue may no longer exist. @irmerk can you confirm?

[2021-03-11 16:42] Cronus1007 commented on #52
@irmerk Here the things that I noticed before opening a PR is that I checked each file of the package twice and saw that the package doesn't depend upon the two repositories like `rimraf` and `npm-run-all`.These have their usecase in `storybook` package only and it is safe to remove these dependencies from the package.

[2021-03-11 16:43] Cronus1007 commented on #53
@irmerk I have laid out the same plan for this package as well. Check this out https://github.com/accordproject/web-components/issues/52#issuecomment-796875469

[2021-03-11 16:45] Michael-Grover commented on #142
I can't replicate this bug on Mac so I'm closing it

[2021-03-11 16:45] #142 closed

[2021-03-11 16:49] Cronus1007 commented on #13
@mttrbrts Shall I work upon this issue.

[2021-03-11 16:50] Michael-Grover commented on #65
@irmerk

@irmerk I don't even remember what this feature is, and even after looking at the linked issues I'm a bit confused. was the goal to have a modal with details about the clause template?

Maybe we can close this issue and https://github.com/accordproject/template-studio-v2/issues/24, what do you think?

[2021-03-11 16:56] Michael-Grover commented on #280
@d-e-v-esh yes, let's make
h1 = 25px (stays the same)
h2 = 25px (keep h2 left aligned to differentiate from H1)
h3 = 20px
h4 = 18px
h5 = 16px
h6 = 14px (same size as normal paragraph), but make the font and color the same as what we use for the page break text. H6 should be all capital letters:
![image](https://user-images.githubusercontent.com/40569793/110824137-c516a900-8260-11eb-9ba8-a5a0457bcc

[2021-03-11 16:57] Michael-Grover commented on #280
@d-e-v-esh let me know if you'd like me to create an issue for this. Feel free to create an issue or PR. If you create an issue, @ me and I'll assign it to you.

[2021-03-11 18:28] d-e-v-esh opened #293 "Addition of Heading 4, Heading 5, and Heading 6 and updation of existing headings"
# Feature Request 🛍️

Updating the Existing Heading Size and addition of Heading 4, Heading 5 and, Heading 6 into the dropdown menu.

## Use Case

`Heading 1` = 25px => Stays the same
`Heading 2` = 25px => Left-aligned to differentiate from H1
`Heading 3` = 20px
`Heading 4` = 18px
`Heading 5` = 16px
`Heading 6` = 14px => Same size as a normal paragraph, All capital letters, The same text formattin

[2021-03-11 18:30] d-e-v-esh commented on #293
@Michael-Grover Hey, I created the Headings issue. 👍

[2021-03-11 19:35] irmerk commented on #42
Correct, this was fixed at some point.

[2021-03-11 19:35] #42 closed

[2021-03-11 19:36] irmerk commented on #13
I'm currently working on this Issue

[2021-03-11 19:38] irmerk commented on #65
Hmm yeah I think you're right @Michael-Grover that this was about a modal with details, but it was pretty much in the context of TSv2. So I think we can sunset this.

[2021-03-11 19:38] #65 closed

[2021-03-11 19:42] Cronus1007 opened #294 "Unable to Cut an image"
# Bug Report 🐛
If we click an image in the markdown-editor and press `ctrl+x` the image should disapper. Here the image should not be `selected` just `clicked` and then press `ctrl + x.` THe image just stays i.e. shows the behaviour of copy rather than cut.
## Expected Behavior
The image should be deleted.
## Current Behavior
THe image is not deleted.

![fd59c203-1703-4029-94d8-6cb87ca15238](https

[2021-03-11 19:59] Cronus1007 commented on #96
@irmerk Shall I implement this issue.

[2021-03-11 20:17] d-e-v-esh opened #295 "Going through the link with the popup opens the cursor"
# Bug Report 🐛

When we move our cursor forward in a line with the right arrow where one of the words is a hyperlink, the link popup opens up and the cursor jumps to the link URL input field.

## Expected Behavior

The pop-up should not open up until we click on the hyperlink text. The cursor should move past the letters in the text one by one without the pop-up opening.

## Current Behavior

It j

[2021-03-11 20:29] Cronus1007 commented on #96
@irmerk @Michael-Grover Have a look upon this
![78d0a0cc-63ff-4997-bddb-04e7bf748bf3](https://user-images.githubusercontent.com/56436023/110851082-976c4700-82d6-11eb-90c1-d209727268a2.gif)

[2021-03-11 21:33] d-e-v-esh opened #296 "Cannot read style type of hyperlinks"
# Bug Report 🐛

## We get this error while trying to calculate the style of hyperlinks:
![chrome_fzY8aTnY6q](https://user-images.githubusercontent.com/59534570/110855792-d6050000-82dc-11eb-9e7a-0272d173019c.png)

As you can see in [this](https://github.com/accordproject/web-components/blob/90973d4087a1505098ec43a8a9e2df92977987f8/packages/ui-markdown-editor/src/index.js#L149) line that we need the

[2021-03-12 03:33] naveen8801 commented on #278
Hii @Michael-Grover  ,  can i work on it ?

[2021-03-12 06:58] K-Kumar-01 commented on #295
@irmerk @DianaLease @Michael-Grover
I have added a PR for the issue. This might be able to resolve the issue.
Requesting a review from the maintainers.

[2021-03-12 09:10] iamsaumya commented on #295
I wonder if this is a bug or a feature :rofl:. As we can see in the source code there is an explicit if condition to show the model when the cursor is inside the link.

https://github.com/accordproject/web-components/blob/90973d4087a1505098ec43a8a9e2df92977987f8/packages/ui-markdown-editor/src/index.js#L146-L148

If we let the cursor move forward in the link body, I believe they can also change th

[2021-03-12 10:13] mttrbrts commented on #295
@jeromesimeon  I see that you made the change that introduced https://github.com/accordproject/web-components/blob/90973d4087a1505098ec43a8a9e2df92977987f8/packages/ui-markdown-editor/src/index.js#L146-L148

Do you recall why you wanted this behaviour, please?

[2021-03-12 10:33] #291 closed

[2021-03-12 13:29] mttrbrts commented on #14
We should follow the precedent set in `ui-concerto` that uses `Jest` and `react-testing-library` for unit tests.

[2021-03-12 13:59] Cronus1007 commented on #14
@mttrbrts I am just curious to know is there any particular reason for disagreeing with `chai` and `mocha`.

[2021-03-12 14:06] Cronus1007 commented on #14
Hotkeys in markdown-editor have not been added i guess.

[2021-03-12 14:54] Pratik1234agarwal commented on #267
I am new here. Wanted to work on this issue. Can I get started ?

[2021-03-12 16:27] irmerk commented on #267
@Pratik1234agarwal feel free to share here what you'd like to do in regards to this issue that is not captured in #270.

[2021-03-12 16:28] irmerk commented on #96
What am I looking for? Can you explain some more context?

[2021-03-12 16:33] irmerk commented on #295
This seems related to #114. I think this needs more investigation before moving on to a PR (#297)

[2021-03-12 16:33] Cronus1007 commented on #96
@irmerk I guess the problem is only with lists.Here heading and paragraphs worked a quite better than the lists.

[2021-03-12 18:00] Cronus1007 commented on #71
@dselman Shall I work upon this issue.

[2021-03-12 18:47] Michael-Grover commented on #96
In the original recording I shared in the description, it shows there is also a problem when you highlight an entire line that is above a heading. Even though the heading is not highlighted, it becomes a separate link. @Cronus1007 thanks for catching that this bug happens with lists too.

[2021-03-12 18:52] Michael-Grover commented on #71
Can we give the user that extends this component the option to choose between allowing clauses to be deleted by backspace, and not allowing clauses to be deleted by backspace? In some apps that extend this component, such as [Clause.io](http://clause.io/), clauses can have many settings that can take a long time to configure. By allowing one stroke of backspace to delete an entire Clause, it could

[2021-03-13 00:09] Hanaffi commented on #73
@irmerk I dont see it *very large* tbh.
As Mr. Michael said, I will start by sticking the forms into a modal that appears upon clicking the variable.

Do you have another approach?

[2021-03-13 11:27] K-Kumar-01 opened #301 "Bug: Initial hyperlink created remains same text"
# Bug Report 🐛

When a user selects any code that is not already a link and changes its text value via the form then the link original value is not changed in the markdown editor.

## Expected Behavior

The original value should also get changed in the markdown editor

## Current Behavior

The current value does not change

Recording for better understanding
https://www.loom.com/share/67816280e11e

[2021-03-13 15:07] Hanaffi commented on #284
@irmerk Can you assign it to me please?

[2021-03-13 17:05] naveen8801 commented on #278
@d-e-v-esh  , are you working on it ? ,

[2021-03-13 17:14] d-e-v-esh commented on #278
@naveen8801 No, you already created a PR right.

[2021-03-13 17:19] naveen8801 commented on #278
@d-e-v-esh  , i have deleted previous one , because there was some issue in rest of UI while changing styles of Clause component . if you wanna work you can take your time , i can suggest you some changes which can be helpful :-)

[2021-03-13 17:25] d-e-v-esh commented on #278
@naveen8801 did you record what was going wrong? I'll work on this one next then and see if I can fix this.

[2021-03-13 17:29] naveen8801 commented on #278
@d-e-v-esh  , after changing z-index , while hovering over slate in Contract editor  , some icons such as edit , delete , dragger etc. were not visible . so there will be some other way of fixing this ,

[2021-03-13 17:37] d-e-v-esh commented on #278
@naveen8801 Ok... I'll take a look at that tomorrow

[2021-03-13 18:58] K-Kumar-01 commented on #278
@d-e-v-esh
Are you going to work on this as I am also able to reproduce the issue now. Also, I have found a solution for this

[2021-03-13 19:03] K-Kumar-01 commented on #278
@d-e-v-esh
Are you going to work on the issue, as I am also able to reproduce it now

[2021-03-13 19:45] d-e-v-esh commented on #293
@Michael-Grover Something seems wrong with `Heading 6`. You can see it in the main demo. It looks something like this:

![chrome_guwTC9C155](https://user-images.githubusercontent.com/59534570/111041591-e349f800-845e-11eb-8130-f5c226a1c6fc.png)

You can see the distance between `H6` and `Fin` is much larger. Extra margin is being applied somewhere that I can't find.
And the margin gets significantl

[2021-03-13 19:52] d-e-v-esh commented on #278
Ya, I'll work on this.

[2021-03-13 21:08] Michael-Grover commented on #293
@d-e-v-esh sorry, I'm not sure. Someone who is more familiar with CSS like @irmerk or @DianaLease may know

[2021-03-14 05:32] d-e-v-esh commented on #293
@Michael-Grover This problem was occurring because of the [user agent stylesheet](https://stackoverflow.com/questions/12582624/what-is-a-user-agent-stylesheet). Overriding the default styles by adding margin properties fixes the problem.

[2021-03-15 06:45] Vrishabhsk commented on #73
i would like to work on this issue.
if i could have some guidance on what has to be done i would be able to dish it out much quicker

[2021-03-15 08:27] K-Kumar-01 commented on #301
@mttrbrts
I have created a pull request. Let me know if there are any changes required.

[2021-03-15 14:38] Cronus1007 commented on #271
@irmerk Shall I work upon this issue.

[2021-03-15 14:47] Cronus1007 commented on #120
@Michael-Grover @irmerk Since the issue exists in the live storybook so shall I work upon this issue.

[2021-03-15 14:51] Cronus1007 commented on #71
@Michael-Grover @dselman Shall I work upon this .

[2021-03-15 15:33] irmerk commented on #71
I think there will be quite a few considerations to be taken when deleting a clause. For instance, how the information will likely be passed to the [Library](https://github.com/accordproject/web-components/tree/master/packages/ui-components/src/Library) component, or any other component being used upstream which relies on the data of the contract.

I don't think AP wants to be using toast for anyt

[2021-03-15 15:42] #294 closed

[2021-03-15 15:44] irmerk commented on #284
@Hanaffi please see https://github.com/accordproject/web-components/issues/284#issuecomment-796089929

[2021-03-15 16:14] Hanaffi commented on #52
@irmerk Can you assign this to me?
My approach is to use `depcheck` to analyze dependencies by using the information provided by npm

[2021-03-15 16:17] Hanaffi commented on #27
@irmerk Can you assign this to me please?

[2021-03-15 16:18] jeromesimeon commented on #27
As you can see from the thread. We're not really pursuing this feature at the moment.

[2021-03-15 16:22] Hanaffi commented on #27
@jeromesimeon Oh no.
Can you assign some issue to me? (For ex. https://github.com/accordproject/web-components/issues/73)
Every time I find an issue, Its assigned to someone or has low priority.

[2021-03-15 16:33] Cronus1007 commented on #52
@Hanaffi Good spot.But `depcheck` has its own limitation. When I ran `npx depcheck` then I got this.
![Screenshot from 2021-03-15 21-51-21](https://user-images.githubusercontent.com/56436023/111187045-a0f8f600-85d9-11eb-84b5-6727b29580af.png)

Here dependencies of `rollup,stylelint,lint-staged` were used but depcheck ignored those since it doesn't check `.rc` , `.config.js` etc files. So it can't

[2021-03-15 16:45] Cronus1007 commented on #271
@irmerk @dselman Before opening the PR the plan that I am intending to follow is :-
- [] First of all the file that I am going to update is [link](https://github.com/accordproject/web-components/blob/master/packages/ui-contract-editor/README.md)
- [] Documenting the role of the user in the Component
- [] Documenting how to use them in general.

If some sort of addition or deletions are there let m

[2021-03-15 17:31] irmerk commented on #27
If there aren't any open Issues that are open and not low priority, then there aren't any. Something as challenging as #73 won't be assigned to someone without having a pretty thorough investigation into what we need to do and how.

[2021-03-15 17:33] irmerk commented on #271
@Cronus1007 I believe that sounds like a good plan.

[2021-03-15 17:56] Hanaffi commented on #73
@irmerk Can we use material-ui modal component?

[2021-03-15 19:29] #278 closed

[2021-03-16 14:39] priyanshuSharma-WebDev commented on #73
@irmerk I would like to work on this issue, I have some great designing skills and I know JS or react very well.
If I get some kind of guidance I will definitely complete this issue :D

[2021-03-16 14:55] priyanshuSharma-WebDev opened #306 "Discuss a new feature related to app appearance."
I anybody plan to add dark theme in your application, cause I would be great if It's has dark theme?

[2021-03-16 14:56] priyanshuSharma-WebDev opened #307 "Discuss a new feature related to app appearance."
I anybody plan to add dark theme in your application, cause I would be great if It's has dark theme?

[2021-03-16 14:59] jeromesimeon commented on #307
@priyanshuSharma-WebDev Duplicate of #306 ? Also please use the issue template.

[2021-03-16 14:59] #307 closed

[2021-03-16 15:04] Hanaffi commented on #156
@Michael-Grover Can you assign this to me?
If I get some kind of guidance I will definitely complete this issue :D

[2021-03-16 18:49] irmerk commented on #306
There are not any current plans for this. Feel free to open a [Feature Request Issue](https://github.com/accordproject/web-components/issues/new?assignees=&labels=&template=feature-request.md&title=) on this, but I think it's rather low priority.

[2021-03-16 18:51] #306 closed

[2021-03-16 18:54] irmerk commented on #73
We are already using [`semantic-ui-react`](https://github.com/accordproject/web-components/blob/master/packages/ui-contract-editor/package.json#L15), would there be a reason to add `material-ui`?

[2021-03-16 18:55] irmerk commented on #73
I don't plan on assigning this Issue to someone without a pretty thorough plan. As I've said, it's a _very large_ Issue that requires more preparation.

[2021-03-16 18:56] irmerk commented on #156
@Hanaffi what sort of things do you need guidance on at the moment?

[2021-03-17 11:42] irmerk commented on #279
#282 should essentially close this, correct @mttrbrts? We still just need to finish the OSS plan request.

Currently, we have 3 user slots. With the OSS plan we will have 10 (it is the "Team Plan" in [this comparison page](https://www.cypress.io/pricing/)).

As we only have 3 at the moment, @DianaLease do you want to be the 3rd?

[2021-03-17 11:48] irmerk commented on #14
Now that #282 is finished, this Issue becomes a lot more accessible. I'm going to mark it as unassigned because this is probably the single most important Issue in this repo currently and I want to leave it open for as many people to work on it as possible.

[2021-03-17 11:51] sanketshevkar commented on #14
Works for me 👍.

[2021-03-17 11:56] mttrbrts commented on #279
Yes, that's correct.

[2021-03-17 11:57] Cronus1007 commented on #120
@irmerk This one is not working.The problem may arise bcoz there is not any type of function which handles drop. So what I intend to do is write the handleDrop function to handle the Drop. Does it sound good to proceed?

[2021-03-17 12:02] irmerk commented on #120
I think @DianaLease is more familiar with this code and can be of more help at the moment. I won't have a chance to look into this for a bit.

[2021-03-17 14:23] irmerk commented on #279
I want to keep this open until we have successfully been put on the OSS plan in Cypress.

[2021-03-17 15:17] d-e-v-esh commented on #175
@dselman  I don't know what I am doing wrong but most of the things I try to run in the `markus-cli`  does notactually work.

Can you tell me what I am doing wrong?
[code]
It shows all the commands in the readme here as `Unknown argument`. I don't think they should return `Unknown argument`.

[2021-03-17 15:36] irmerk commented on #175
@d-e-v-esh where are you seeing docs for `markus parse` or `markus draft`? There should only be `markus transform`:

[code]

See the [documentation here](https://docs.accordproject.org/docs/ref-markus-cli.html). `parse` and `draft` may be from older versions of the CLI?

[2021-03-17 15:44] d-e-v-esh commented on #175
@irmerk Ya probably. I saw it in [this](https://github.com/accordproject/markdown-transform/tree/master/packages/markdown-cli) repo

[2021-03-17 18:55] irmerk commented on #175
Oh yikes! Yes let's open an Issue about this. Maybe the easiest fix would be to have the README just point to [the docs I linked](https://docs.accordproject.org/docs/ref-markus-cli.html).

Hmm, which `node_moduels` are you looking in? Try `web-components/node_modules/@accordproject` rather than `web-components/packages/ui-contract-editor/node_modules`

[2021-03-17 19:27] Hanaffi commented on #156
@irmerk
Can you tell me what file should I work on?
What may be the cause for this issue?
I tried it and only the first item doesnt fit in the unordered list (Aka doesnt have a bullet)
![zz](https://user-images.githubusercontent.com/35642947/111526543-8bb1d200-8767-11eb-90b6-af7f0ad8af1f.png)

[2021-03-17 19:33] Hanaffi commented on #73
@irmerk
Why dont we start by showing a modal once user press/click on a variable , That modal will allow the user to edit the variable value?
How does that sound to you?

[2021-03-17 19:38] dselman commented on #73
It's the "editing the variable value" part where the complexity lies! :-) Templates contain variables, and each variable has a Concerto type. The primitive types are fairly straightforward (see the list in the description) but there are also complex types, and enumerations etc. We already have technology to build web forms for Concerto types in the Concerto-Ui project, and we are keen not to repli

[2021-03-17 20:20] irmerk commented on #156
In the short term, I don't know. I think this Issue will take some investigating.

[2021-03-18 05:23] d-e-v-esh commented on #175
@irmerk I created the [issue](https://github.com/accordproject/markdown-transform/issues/363) for this. You can assign that issue to me. And I also found the `markdown-transform` folder in your said path. 👍

[2021-03-18 12:22] irmerk commented on #279
Update:

All finished, closing now.

[2021-03-18 12:22] #279 closed

[2021-03-18 12:32] K-Kumar-01 commented on #40
@dselman
Keeping the perspective of the image, does it mean that when an image is clicked a popup similar to hyperlink should open up with a field to edit the image URL?

[2021-03-18 15:30] AkshadK7 opened #308 "Dependency Error Logs due to NPM v7"
NPM v7 is interfering with the setup of lerna bootstrap and thereby producing dependency based error logs.

# Discussion 🗣
NPM v7 changes the way that peer dependencies are enforced, hence is causing the Environment Setup to fail.

## Context
During the Local Setup of the Storybook Project, the specific npm version 7 is interfering with the specifications of the Dependency Tree and producing parti

[2021-03-18 18:47] K-Kumar-01 commented on #73
@dselman
Can anyone who is interested in the topic attend the weekly call, as I also have some ideas and also some implementations for the issue?

[2021-03-18 19:37] Hanaffi commented on #73
@dselman @irmerk Yes, I can attend.
Can you send me an invitation to `aehanaffi@gmail.com` please?

[2021-03-18 19:48] Aniruddha-Shriwant commented on #73
@Hanaffi for attending weekly calls join #technology-wg channel in [Accords slack](https://join.slack.com/t/accord-project/shared_invite/zt-nfqw90fq-JVLIW9Og~GTzmu~v_UMZnw)

[2021-03-18 20:46] irmerk commented on #73
@jeromesimeon pinging you on this, we should think of another way to display the Tech WG call details so it isn't _just_ in Slack.

@K-Kumar-01 yes absolutely.

[2021-03-18 20:50] irmerk commented on #40
@K-Kumar-01 yes I think that's the right idea.

[2021-03-18 20:53] jeromesimeon commented on #73
It's also in the AP google calendar which you can find in the Tech WG page

<img width="1106" alt="Screenshot 2021-03-18 at 4 51 57 PM" src="https://user-images.githubusercontent.com/670099/111696156-57dbb880-880a-11eb-893e-5baeeb8b2847.png">

Ultimately Slack is definitely the main place where things are announced. Did you have some suggestion for what else to do?

[2021-03-18 20:54] irmerk commented on #73
Ah no, I was mainly thinking of something like the Tech WG page, just didn't realize it was there.

[2021-03-18 20:59] irmerk commented on #175
I'm honestly not sure at the moment if there is a better way when editing something within `node_modules`.

[2021-03-18 21:02] jeromesimeon commented on #175
From memory (so apologies if I'm mistaken)

1. keep storybook running
2. _rebuild_ which ever package has changed (e.g., in `./packages/ui-contract-editor` run `npm run build`)

I believe storybook will do a hot refresh then (it's a very long build so much better during development)

[2021-03-19 08:17] mttrbrts commented on #235
@rkotangoor. Tagging you so that I can assign it to you...

[2021-03-19 09:49] sanketshevkar commented on #14
@irmerk I wanted to discuss the structure of the tests. Basically, there are two ways we can do it:
1. [mount the component and test the interactions.](https://docs.cypress.io/guides/component-testing/introduction.html#Getting-Started)
2. [load the storybook using the localhost url and test the component interactions.](https://storybook.js.org/docs/react/workflows/interaction-testing)

The first o

[2021-03-19 10:59] mttrbrts commented on #14
@sanketshevkar Let's be pragmatic, the second option works for you, and we have a sample here: https://github.com/accordproject/web-components/blob/master/packages/storybook/cypress/storybook/storybook.spec.js

Let's go with 2.

One downside is that it requires a contributor to run tests for the storybook package when only making changes to an individual component. However, we can probably mitigat

[2021-03-19 12:52] rkotangoor commented on #235
@mttrbrts , can I have this assigned to me. Thank you.

[2021-03-19 15:51] sanketshevkar commented on #14
Okay, that sounds cool. I'll move ahead with this.

[2021-03-19 16:09] Cronus1007 commented on #14
@sanketshevkar Since the issue is very large so lets divide issue.

[2021-03-19 16:14] sanketshevkar commented on #14
I've been anyways unassigned from this one. It's an open issue now. I've started with testing headings. If you want you can join in for that or pick up any other part you want.

[2021-03-19 16:18] Cronus1007 commented on #14
Okk So I will pick up the `Marks` part then.

[2021-03-19 19:32] irmerk commented on #14
Yeah maybe this isn't the best way, but I'm thinking call out which one you want to work on and we can put your name next to it in the original post. So I'll put @sanketshevkar on headings and @Cronus1007 on marks.

[2021-03-20 04:49] d-e-v-esh commented on #175
Ya seems like that does not work when you make changes in the node modules. The only way I was able to make this work was by `npm run storybook` which is a bit time-consuming.

[2021-03-20 18:32] d-e-v-esh commented on #175
@dselman It works fine now. The variables look like this. Is this good?

![chrome_auLJtPLeA9](https://user-images.githubusercontent.com/59534570/111881845-7becf480-89d8-11eb-93d2-4eb740c44aba.png)

Working demo:

![CFm5m995Yp](https://user-images.githubusercontent.com/59534570/111881876-a0e16780-89d8-11eb-8f34-930a4a1bf8fd.gif)

[2021-03-21 11:12] K-Kumar-01 commented on #40
@irmerk @dselman
I have created a PR for the issue. Let me know if there are any changes required.

[2021-03-22 02:53] DianaLease commented on #120
hi @Cronus1007 . The logic that handles drop for the contract editor is here: https://github.com/accordproject/web-components/blob/5c92ecbe046af74aabdeed8be2990c28cb5fd9c6/packages/ui-contract-editor/src/ContractEditor/index.js#L199

This function is passed to the `MarkdownEditor` as a prop where it gets called whenever a drop event fired.

[2021-03-22 19:10] irmerk commented on #40
@Michael-Grover so my interpretation is that this might not be a good feature for images?

[2021-03-22 20:06] Michael-Grover commented on #40
@Michael-Grover

@irmerk

I'm just not clear on what the utility of this feature is. Is being able to edit the image URL the standard functionality in editors like this (built on markdown but don't let users edit the markdown directly)? It feels like adding complexity to the UI for no additional utility. @dselman since you opened this issue, what do you think?

It seems simpler to just click on an

[2021-03-22 22:20] dselman commented on #40
I guess I was influenced by the similarity between links and images in the markdown spec. I think there is some precedent for this sort of thing. E.g. in elev.io you can click on an image, select "replace" and then the "by url" button. Fairly sure I've seen it elsewhere as well, but I'll defer to you on utility/design.

I'd also love to get rid of the system prompt displayed when the user presses

[2021-03-22 22:50] Michael-Grover commented on #40
@dselman what's a situation where someone might want to change the URL of an image? I don't actually understand how someone would use the existing functionality where they have to enter a URL to add an image. Where are they getting the URL from? in editors like this, usually people upload files from their computer or paste images. I just haven't seen entering a URL as a method for adding an image

[2021-03-22 22:52] Michael-Grover commented on #40
I think having a pop up appear when clicking an image makes it harder to delete the image, use the keyboard to navigate past the image, and use the cursor to drag and drop an image to a different part of the editor.

[2021-03-23 05:30] K-Kumar-01 commented on #40
@Michael-Grover
I can add a delete button in the popup itself that will make it easier. However, that completely depends on whether we want to use this feature or not.

[2021-03-23 05:55] K-Kumar-01 commented on #40
@dselman @Michael-Grover @irmerk
I also noticed that dragging and dropping images doesn't add an image to the markdown editor. So that might be a feature that we can work on?

[2021-03-23 09:21] Rupesh-2003 commented on #32
I was trying to work on this issue. on Inserting HTML from clipboard the formatting is preserved but deleting the same, it gives the below error.

![preserveFormatting](https://user-images.githubusercontent.com/72150555/112123166-05721180-8be7-11eb-9451-117ec4773266.jpg)

**Error** :

![image](https://user-images.githubusercontent.com/72150555/112123260-1de22c00-8be7-11eb-9df2-4380943fe9a8.png)

[2021-03-23 13:17] irmerk commented on #32
@Rupesh-2003 my _guess_ is that this would be the starting point of where to figure out the issue: [`withHtml.js`](https://github.com/accordproject/web-components/blob/master/packages/ui-markdown-editor/src/plugins/withHtml.js)

[2021-03-23 13:35] d-e-v-esh commented on #28
@irmerk Can I look into this?

[2021-03-23 13:40] d-e-v-esh commented on #175
@dselman @irmerk Any updates?

[2021-03-23 13:43] dselman commented on #175
I think it depends on the implementation. Is there a PR I can review?

[2021-03-23 13:59] irmerk commented on #28
@d-e-v-esh I believe this may actually require thinking/work in https://github.com/accordproject/markdown-transform first. It could be worth opening an Issue there to discuss how to (or if to) handle underline in markdown.

[2021-03-23 15:26] d-e-v-esh commented on #175
@dselman I just created a PR [here](https://github.com/accordproject/markdown-transform/pull/367). Tell me if this looks good.

[2021-03-23 16:15] Arvind644 commented on #296
I want to work on this issue. Pls assign me this task

[2021-03-23 16:31] Michael-Grover opened #314 "ignore this issue, testing something"
![image](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAR4AAACwCAMAAADudvHOAAAB+1BMVEWAgIAAAAD///+/vwB/f395eXl7e3sAAL82nXq+WHp6kgEAv7+/AACZmZkAvwB6Y/Okegy+vsG/AL9QeulmZmbMzMwzMzPp6emMjIyGhobT09P09PTd3d3CwsKSkpKioqJxcXGysrKgoKDHx8e1tbV2XvK7TnNOTk6js2R9fQCjlPldXV3b3NUnmHNGRkbb2t48PDwfHx+y2MoqKioUFBTmvcouLi4AADSLiwBrioW1woIyozI6mIy1qfq8vAAAAIvb24jJdI+PcKK/XwBZq44Aihm6XW2/QQBRd+4AAKMXF1V9AABseRLczKugc

[2021-03-23 17:58] irmerk commented on #296
@Arvind644 I think this issue needs some more investigation to see what the problem is, if any. Please look in to it and share your findings and proposed solution here.

[2021-03-23 19:46] d-e-v-esh opened #315 "Reset Template Feature"
# Feature Request 🛍️

Package: Contract Editor
It is a set of three features:
1. Reset Variables - This would reset all the variables to the default that was in the template.
2. Reset Contract - This would discard any changes made to the contract body itself. Doing this would reset the whole body of the contract but leave the updated variables intact.
3. Reset Template - This would reset both the

[2021-03-24 05:56] d-e-v-esh commented on #28
@irmerk Yes. I think we can open another issue on this. Underlining text seems like it could be important for people dealing with contracts. Should I open another issue on this? This one will get closed?

[2021-03-24 11:31] #308 closed

[2021-03-24 14:20] Michael-Grover commented on #40
@dselman and I discussed this feature and decided that it's not necessary, however we should allow users who extend this component to choose what they want to happen when a user clicks on the image. I think this means having an event happen upon clicking an image, @dselman is that right? Is there any additional context you can add?

[2021-03-24 14:28] Michael-Grover opened #318 "Clickable area of "insert image" and "page break" is much smaller than other items in the formatting toolbar"
# Bug Report 🐛

For some reason, the clickable area of the "insert image" and "page break" icons in the formatting toolbar is much smaller than the clickable area of all of the other icons in the formatting toolbar. This makes the icons harder to click, and is visually inconsistent.

The red squares roughly show the clickable areas:
![image](https://user-images.githubusercontent.com/40569793/11232

[2021-03-24 18:06] K-Kumar-01 commented on #318
@Michael-Grover
I would like to work on this issue. Please assign this to me.

[2021-03-24 18:37] Michael-Grover commented on #318
@K-Kumar-01 thanks, I've assigned you

[2021-03-24 20:49] Michael-Grover commented on #315
@d-e-v-esh Thank you for coming up with the concept for this feature. This feature request was discussed in today's technology working group call, and the participants were not sure about the value this feature would bring to the editor. The consensus was this is not a high priority right now.

We also discussed that consumers of the contract editor can handle the state of the editor, saving the c

[2021-03-25 05:42] d-e-v-esh commented on #315
@Michael-Grover I think it is just a matter of convenience and efficiency that undo button is just not capable of providing in a lot of situations.

My thought process was that there would be multiple templates in a single contract. The undo button is just going to provide us with a single stack of actions that we performed which we can undo.

Assuming that the undo stack is not trashed out every

[2021-03-25 07:18] K-Kumar-01 commented on #318
@Michael-Grover
I have opened a PR for the issue. Let me know if there are any changes required.

[2021-03-25 07:37] Aniruddha-Shriwant opened #320 "Can't Delete image in Markdown editor"
# Bug Report 🐛
See this Loom video where I had tried to delete the text and image but the image was not able to delete
Loom link : https://www.loom.com/share/558b1ef9151c45e59de3962ec62def4b
Or see this video:

https://user-images.githubusercontent.com/58624108/112434714-e64fbd00-8d69-11eb-9937-01f9828cf010.mp4

## Expected Behavior
By selecting the image and then clicking the delete/backspace ima

[2021-03-25 09:47] d-e-v-esh commented on #320
I would like to work on this issue.

[2021-03-25 12:42] Aniruddha-Shriwant commented on #320
@d-e-v-esh, I was willing to work on this but as I'm currently busy with my end-semester examinations, you may take this 👍🏻

[2021-03-25 12:58] irmerk commented on #28
If you could open one in `markdown-transform` and link this one, we can put a pause on this one until that new one is resolved.

[2021-03-25 13:06] irmerk commented on #315
This is a very intriguing idea! I really like it. I wasn't on the woking group call yesterday so I'll need to catch the recording. Though, my impression is this would be a very useful feature. I would expect this kind of functionality as an AP user.

[2021-03-25 13:20] jeromesimeon commented on #315
I do find it intriguing too. I think some of the questions that were raised included: reset to what state? What happens for long drafting times (which is common on contract) do you need to reset to "previous version" which is something a lot more complicated.

If it's just convenience for developers can it be done inside the storybook rather than in the Contract Editor?

[2021-03-25 13:22] d-e-v-esh commented on #315
@irmerk Thank you! Yes, this is not a high-priority feature but I think eventually this would be very necessary for someone who wants to do any serious long contract work on this.

[2021-03-25 13:32] d-e-v-esh commented on #315
@jeromesimeon I think initially it can be reset to the initial state (how it looks when we first import it). Later on, **if** we want to develop it further, I think we can develop a feature where we can let the users create a checkpoint for each template that would store how it used to look at a certain point of time, and then the user can jump back and forth in the timeline if they want.

[2021-03-25 13:35] d-e-v-esh commented on #320
@Aniruddha-Shriwant My exams just got finished so I'd be happy to work on this. Thanks man 👍

[2021-03-25 14:30] Michael-Grover commented on #315
It's my understanding that a user can't change the body of a clause template, they can only change variables, so I'm confused about how a user would reset the body of a template. Since the only things that can be changed are the variables, if they really want to reset those to the defaults, can't they just delete the template and create a new one? Also, is there a need to reset a template to the d

[2021-03-25 14:48] d-e-v-esh commented on #315
@Michael-Grover I assume lawyers and people in the law field would be using AP the most, so they should have the option to build on top of the template or take things off from it according to the needs of their clients. Are we not giving them the option to edit the body?

[2021-03-25 14:55] Michael-Grover commented on #315
@d-e-v-esh when you say "template" are you referring to the entire document text, or the text within a Clause Template like "acceptance of delivery"? Currently users can not edit non-variable text of a clause template from within the contract editor. They would have to manipulate the template file directly in a program like VS code. I agree that's not ideal, but it's a much larger issue.
![image](

[2021-03-25 15:03] d-e-v-esh commented on #315
@Michael-Grover I think the users can currently edit the template in the storybook. There is a `lockText` option and we just need to uncheck the box. It is a little buggy so sometimes it does not work.

![chrome_NUF8tWGLxB](https://user-images.githubusercontent.com/59534570/112494623-3601a900-8da9-11eb-8bbc-f20900387564.png)

[2021-03-25 15:15] Michael-Grover commented on #315
@d-e-v-esh I think changing the text breaks the template, which is why there's a red outline around it. The error logger component would show what error the template has.

[2021-03-25 15:29] d-e-v-esh commented on #315
@Michael-Grover Yes, I think it does break the template. I don't know enough about the internals of how it works and how it should work so I can't say anything about that. Putting even an extra space gets the redlining going.

[2021-03-25 16:48] jeromesimeon commented on #315
I thought the clause text would be read-only? But maybe there is an option.

And yes this is the intended behaviour: if you change the text you may change the legal meaning so you would want to create a new Clause.

Concretely we parse the text of the clause (with its variable) against the grammar for that template. In your example the one here: https://templates.accordproject.org/acceptance-of-de

[2021-03-25 20:38] K-Kumar-01 commented on #315
@jeromesimeon @irmerk @Michael-Grover
If no one is currently working on this issue, I can have a go at it. I would discuss the steps that can be implemented for every particular sub-feature that we are talking about
@d-e-v-esh Is this fine with you if this issue is assigned to me?

[2021-03-25 22:04] jeromesimeon opened #321 "Magic Shortcuts for Markdown"
# Feature Request 🛍️

I like not having to move my cursor when I write text and one way to do that is to use markdown things in your text and have the editor automatically convert them as you write. Am I the only one who likes that kind of editing?

Demoed here on the editor from Slab: https://slab.com
![EditingShortcuts](https://user-images.githubusercontent.com/670099/112549683-8f131200-8d94-11e

[2021-03-25 22:45] Michael-Grover commented on #315
The maintainers have decided that this feature is not a high priority right now, based on my previous feedback in the issue comments, and the discussion in yesterday's technology working group call starting at 33:50 in this recording: https://vimeo.com/529064504. Thank you for the submission @d-e-v-esh . Feel free to use the feedback from the Tech WG call as a starting point for new feature ideas.

[2021-03-25 22:45] #315 closed

[2021-03-26 03:16] Cronus1007 commented on #321
@jeromesimeon I would like to implement this one.

[2021-03-26 05:47] d-e-v-esh commented on #321
This seems to be lots of small features. Should this be all in one go or should we go one by one?

[2021-03-26 12:34] dezfuture commented on #320
I would like to work and fix this issue. Can you guide me through how to contribute

[2021-03-26 12:40] d-e-v-esh commented on #320
@dezfuture I have started working on this issue. You can look for more issues or find what you like from the list.

[2021-03-26 12:41] akk312000 commented on #293
I would like to contribute and fix the issue.
Can you guide me how should I go forward into solving this issue.

[2021-03-26 12:43] dezfuture commented on #284
I would like to contribute and fix the issue.
Can you guide me on how should I go forward into solving this issue

[2021-03-26 12:49] K-Kumar-01 commented on #284
@dezfuture
The issue #270 needs to be finished before you can pick up this issue

[2021-03-26 12:51] dezfuture commented on #271
I would like to contribute and fix the issue.
Can you guide me on how should I go forward into solving this issue.

[2021-03-26 13:26] dezfuture commented on #320
okay np

[2021-03-26 13:56] irmerk commented on #321
@d-e-v-esh I agree, this will be incremental. I think we should go one by one and use this Issue to track the changes.

[2021-03-26 13:58] irmerk commented on #293
@akk312000 @d-e-v-esh is working on this already as you can see in the Issue.

@d-e-v-esh I still haven't had time to look into this to give you feedback, sorry. I'm hoping to very soon.

[2021-03-26 13:58] irmerk commented on #271
@dezfuture as you can see, @Cronus1007 is working on this and has an open PR.

[2021-03-26 14:30] #235 closed

[2021-03-27 09:16] onkar95 opened #323 "installation error"
showing error in npm i
`@lerna/cli` module not found

also on lerna bootsrtap shows error
`@samverschueren/stream-to-observable` module not found

[2021-03-27 12:32] d-e-v-esh commented on #293
@irmerk That is totally fine 👍

[2021-03-27 12:36] d-e-v-esh commented on #321
@jeromesimeon @irmerk I created a PR #288 a while ago that does exactly the same thing. Maybe we can build on top of that to implement these features after that is merged.

[2021-03-28 08:47] K-Kumar-01 commented on #323
@onkar95
Can you send the image of the error. It would be helpful to debug the error.

[2021-03-29 10:34] aryan0078 commented on #323
i want to work on this issue assign this to me.

[2021-03-29 10:47] aryan0078 commented on #62
@irmerk i want to implement this

[2021-03-29 11:52] mttrbrts commented on #323
@onkar95 Please use the issue template, this will help the community to understand your issue.

[code]

[2021-03-29 13:22] irmerk commented on #62
Sure @aryan0078, can you provide some context as to how you plan on approaching this?

[2021-03-29 15:12] K-Kumar-01 commented on #33
@DianaLease
Can you explain what we are looking for in the issue? Any reference or link would be extremely helpful,

[2021-03-29 15:40] Cronus1007 commented on #323
@onkar95 Specify the OS,Browser and OS Version.

[2021-03-29 17:26] sliu-trinity commented on #73
Hi Dan, can you elaborate on "we don't duplicate the logic in the concerto-ui React form component" part?

[2021-03-29 19:47] aryan0078 commented on #62
@irmerk
With help of onDrag and onDrop events i will implement drag and drop functionality

[2021-03-30 15:56] irmerk commented on #68
This should be complete with #165

[2021-03-30 15:56] #68 closed

[2021-03-30 15:57] Cronus1007 commented on #286
@irmerk Shall I close this issue now since they have been discussed in [the TSC.](https://github.com/accordproject/technical-steering-committee/)

[2021-03-30 18:17] #286 closed

[2021-03-31 07:31] K-Kumar-01 commented on #40
@dselman
Waiting for your response.

[2021-03-31 15:31] jeromesimeon commented on #197
hi @K-Kumar-01 I think we _can_ distinguish between those variables using the context: In the example above:

Is the `partyId` simple variable inside the `tenant` complex variable or inside the `landlord` complex variable.

I believe the Slate Document Object Model will contain that context (to be confirmed).

[2021-03-31 15:43] irmerk commented on #197
I'm making an Issue in `markdown-transform` and tagging you @jeromesimeon to possibly add additional context.

[2021-03-31 15:56] jeromesimeon commented on #197
I think it could be entirely done in the web components. What's the reason this is better to do in the markdown transform?

[2021-04-02 13:39] irmerk commented on #52
Sorry for the delay, I think this makes sense @Cronus1007

[2021-04-02 13:40] irmerk commented on #53
Sorry for the delay, I think this makes sense @Cronus1007

[2021-04-02 13:45] #301 closed

[2021-04-02 13:59] #293 closed

[2021-04-02 14:06] #314 closed

[2021-04-02 14:07] #318 closed

[2021-04-02 14:11] #259 closed

[2021-04-02 14:12] irmerk commented on #321
To reiterate from my comment in #288, that's a good start to build on for this Issue.

[2021-04-02 15:40] irmerk commented on #197
Alright, I was just going off of your https://github.com/accordproject/web-components/issues/197#issuecomment-694906191 here :

[2021-04-02 15:47] irmerk commented on #73
@sliu-UIUC yes this is referring to needing to utilize existing [`concerto`](https://github.com/accordproject/concerto) and [`ui-concerto`](https://github.com/accordproject/web-components/tree/master/packages/ui-concerto) functionality for type checking and validation.

[2021-04-02 16:06] jeromesimeon commented on #197
I realise I've am splendidly inconsistent here. But I think the crux of this is how do you know the scope of a variable and we could attempt to fix it either upstream (in the markdown transform) by having "names" be really keeping track of the context where they are used, or by making the logic which links variables together in the editor smarter.

The former approach is much more costly, so I'm w

[2021-04-02 16:27] K-Kumar-01 commented on #197
@jeromesimeon

The approach where we see the logic solely depends on the field i.e.` name`.
So if two variables have the same name, it would be ineffective in my opinion. I think somehow we need to distinguish them, which is possible only either by providing a unique id.

I think for a temporary solution we can comment out the logic to avoid any confusion and look for a more suitable approach by h

[2021-04-02 16:34] jeromesimeon commented on #197
I'm suggesting we could change that logic to not be based only on the variable name, but also on the context for it within the Slate DOM. Not sure why you believe it would be ineffective.

Removing the feature as "not working" isn't the worst idea. I would wait for feedback from @dselman on that, though, since he implemented that feature in the first place.

[2021-04-02 16:37] K-Kumar-01 commented on #197
@jeromesimeon

I apologize. I misunderstood the initial explanation, that's why I commented the above. I now understand the logic you are trying to say. I will see if I am able to find any suitable.

[2021-04-02 17:18] Michael-Grover opened #325 "Paragraphs above or below clause templates can't be deleted"
# Bug Report 🐛
If you triple-click on a paragraph above or below a clause template to highlight that paragraph, and then press backspace, the paragraph will not be deleted.

https://www.loom.com/share/fcb7605ba7834373a9a35c03687f0ac4

## Expected Behavior
When a paragraph is highlighted and backspace is pressed, the paragraph should be deleted.

## Current Behavior
When a paragraph directly above

[2021-04-02 17:23] Michael-Grover opened #326 "Change markdown editor empty-state text"
The markdown editor currently shows the following text when all of the content has been deleted:
"Enter some rich text"
![image](https://user-images.githubusercontent.com/40569793/113438263-3952f100-93b6-11eb-8227-587c9f57e06b.png)

As a user, I don’t know what rich text is. I think we should avoid technical jargon in the markdown editor. Jargon in the flow editor is more appropriate because we ex

[2021-04-02 17:25] Aniruddha-Shriwant commented on #326
May I work on this?

[2021-04-02 19:33] Michael-Grover commented on #326
@Aniruddha-Shriwant thanks, I've assigned it to you

[2021-04-03 05:36] K-Kumar-01 commented on #325
@Michael-Grover
A thing to notice here.
Selecting the entire paragraph by triple-clicking and pressing backspace doesn't delete the paragraph.
However, selecting it manually and then pressing the backspace button deletes the paragraph.

[2021-04-03 07:37] d-e-v-esh opened #327 "Overriding Default CSS"
# Bug Report 🐛

Properties that we do not define in CSS code get defined by web browsers under [user agent stylesheet](https://stackoverflow.com/questions/12582624/what-is-a-user-agent-stylesheet) to make them look better for the users. We can override those default styling added by web browsers by defining them in our CSS.

This was messing up all the heading elements that we inserted. Get more c